<fieldset>
  <%= error_messages_for 'basket' %>

  <!--[form:basket]-->
  <div class="form-element"><label for="basket[name]">Name:</label>
    <%= form.text_field :name  %>
  </div>

  <div class="form-element">
    <label class="required" for="settings[fully_moderated]">Moderation
      Policy:</label>
    <%= select_tag 'settings[fully_moderated]', @basket.moderation_select_options %>
  </div>

  <!--[eoform:basket]-->

</fieldset>
