<% @title = "Listing Baskets" -%>
<h2><%= h(@title) -%></h2>

<ul>
  <% @baskets.each do |basket| -%>
  <li><%= link_to_index_for(basket) -%></li>
  <% end -%>
</ul>

<div id="prev-next"><%= will_paginate @baskets %></div>

<%= render(:partial => "topics/content_wrapper_end" ) %>