<tr>
  <td>
        <h4>Generic Content Fields</h4>
        <p>All content types have the following fields to start:
        <ul>
                <li>Title: What should we call this content?</li>
                <li>Short Summary: This is a brief blurb suitable for lists of results.  It should be plain text.</li>
                <li>Description: Describe the content.</li>
        </ul>
        </p>
        <p>These form fields will be present in all content types.</p>
  </td>
</tr>