<tr>
  <td>
        <h4><%=t 'content_types.generic_fields.title' %></h4>
        <p><%=t 'content_types.generic_fields.note' %></p>
        <ul>
                <li><%=t 'content_types.generic_fields.title_field' %></li>
                <li><%=t 'content_types.generic_fields.short_summary_field' %></li>
                <li><%=t 'content_types.generic_fields.description_field' %></li>
        </ul>
        <p><%=t 'content_types.generic_fields.present_in_all' %></p>
  </td>
</tr>