<% @title = t('content_types.new.title') -%>

<h2><%= h(@title) -%></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('content_types.new.create') %>
<% end %>

<%= render(:partial => 'generic_fields', :locals => { :local_id => @content_type.id }) %>

<%= link_to t('content_types.new.cancel'), :action => 'list' %>
