.DS_Store
*.sqlite3*
mkmf.log
*.tmproj
*~
config/database.yml
config/backgroundrb.yml
config/mongrel_cluster.yml
config/gmaps_api_key.yml
config/google_map_api.yml
config/locales.yml
config/site_lockdown_auth_credentials.yml
db/schema.rb
public/blank.html
public/robots.txt
public/opensearchdescription.xml
public/images/active_scaffold/DO_NOT_EDIT
public/javascripts/cache/
public/stylesheets/active_scaffold/DO_NOT_EDIT
public/stylesheets/cache/
public/audio_recordings/
public/audio/
public/documents/
public/image_files/
public/videos/
public/video/
tmp/*
webrat-*.html
zebradb/conf/kete-zebra-servers.xml
selenium-rc-server.pid
selenium-web-server.pid
