<table>
<tr>
  <td><%= t('search.refine_by_date.date_on_or_before') %></td>
  <td><%= text_field_tag 'date_on_or_before', params[:date_on_or_before], :size => 10 %></td>
</tr>
<tr>
  <td><%= t('search.refine_by_date.date_on_or_after') %></td>
  <td><%= text_field_tag 'date_on_or_after', params[:date_on_or_after], :size => 10 %></td>
</tr>
</table>
