<% clear_values ||= false %>
<table>
<tr>
  <td><%= t('search.refine_by_date.date_since') %></td>
  <td><%= text_field_tag 'date_since', (params[:date_since] unless clear_values), :size => 10 %></td>
</tr>
<tr>
  <td><%= t('search.refine_by_date.date_until') %></td>
  <td><%= text_field_tag 'date_until', (params[:date_until] unless clear_values), :size => 10 %></td>
</tr>
</table>
