<% @thumb_src = thumbnail[:src]
   thumbnail.delete(:src)
   thumbnail.delete(:size)
   @thumb_options = thumbnail
   @thumb_options[:alt] = altify(title) -%>

<p><%= image_tag(@thumb_src, @thumb_options) -%></p>
