<% @title = String.new
   @title += t('search.all.all') unless @extended_field
   @title += title_setup_first_part(t('search.all.results_in'), true) + last_part_of_title_if_refinement_of %>

<%= render 'form', :headline => 'Refine your results' %>

<%= render 'results' %>
