<% @title = "Search for topic for basket homepage" -%>

<%= render :partial => 'form', :locals => {:headline => @title,
                                           :simple_layout => :true,
                                           :search_terms => nil} %>

<a href="#" onclick="javascript:window.close()">Close</a>
