= render partial: 'form', 
         locals: { headline: t('search.for.refine_search', search_terms: @scope.search_terms, basket_link: @scope.basket_link), scope: @scope }
= render partial: 'results', locals: { scope: @scope }
