-# TODO: replace @title with direct references to @search_presenter.title someday
- @title = @search_presenter.title

= render 'form', headline: t('search.for.refine_search', search_terms: @search_presenter.search_terms, basket_link: @search_presenter.basket_link)
= render 'results' if @search_presenter.search_terms_are_present?
