<%= render 'topics/content_wrapper_start', :style_classes => 'full-width notabs' -%>
<%= render 'search/search_field', :title => t('search.index.title', :basket_name => @current_basket.name) %>
<%= render 'topics/content_wrapper_end' %>
