<div id="content-wrapper">
  <div id="main-content-wrapper">
    <div id="main-content-container">
      <a name="main-contenet"></a>

      <% @title = "Search " + @current_basket.name -%>

      <%= render :partial => 'form', :locals => {:headline => @title, :search_terms => ''} %>
    </div>
  </div>
</div>
