<% @title = 'Zoom Index Rebuild for ' + @type + 'from ' + @start_id.to_s + 'to ' + @end_id.to_s %>
<h2><%= @title -%></h2>

<div id="report_records_processed">Starting rebuild...</div>
<p>&nbsp;</p>
<div id="done">...in progress.</div>
