<% @title = 'Zoom Index Rebuild for ' + session[:zoom_class] + ' from ' + session[:start_id].to_s + ' to ' + session[:end_id].to_s %>
<h2><%= @title -%></h2>

<div id="rebuild-zoom-item">
        Starting rebuild...
</div>

<%= periodically_call_remote :update => 'rebuild-zoom-item',
                             :url => { :action => 'rebuild_zoom_item' },
                             :frequency => 15 %>
