%h1 Feature Not Implemented
%p This feature Feature needs implementing. Most likely this was something removed that needed to be re-added later on.
%p Sorry 'bout that. Here have a kitten.
%img(src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/138.jpg" alt="apology kitten"
