#content-wrapper{class: (defined?(style_classes) ? style_classes : '')}
- if show_basket_list_naviation_menu?
  #basket-list-column
    .secondary-content-section-wrapper.basket-list-column
      #basket-list-column-content.secondary-content-section
        %h2.basket-list-headline= t('topics.content_wrapper_start.baskets')
        = render_baskets_as_menu
        .secondary-content-section-footer-wrapper
          .secondary-content-section-footer 
            &nbsp;

#main-content-wrapper
  #main-content-container
    %a{:name => "main-content"}
