%h1 DEPRECATED -read associated comment
-# HAML will close any open tags when it gets to the end of a file so you split start & end tags across files. as you can with ERB.
#content-wrapper{class: (defined?(style_classes) ? style_classes : '')}
  = render "basket_navigation_menu" if show_basket_list_naviation_menu?
  #main-content-wrapper
    #main-content-container
      %a{:name => "main-content"}
