<% style_classes ||= nil -%>
<div id="content-wrapper"<% if !style_classes.blank? %> class="<%= style_classes -%>"<% end %>>
  <div id="main-content-wrapper">
    <div id="main-content-container">
      <a name="main-contenet"></a>
