.secondary-content-section-wrapper
  #discussion.secondary-content-section
    .secondary-content-section-content
      %h3
      - if logged_in? && @at_least_a_moderator
        = show_comments_for(item)
      - else
        = show_comments_for(item)
      %div{ style: "clear:both;" }
    .secondary-content-section-footer-wrapper
      .secondary-content-section-footer &nbsp;
