- embedded = nil unless defined?(embedded)
- extended_fields_html = display_xml_attributes(item, :embedded_only => embedded)
- if !extended_fields_html.blank?
  = '<div id="embedded_extended_field_data">'.html_safe if embedded
  .secondary-content-section-wrapper
    #extended-fields.secondary-content-section
      .secondary-content-section-content
        #detail-extended
          %h4#detail-extended-heading= h(item.title)
          %br/
          = extended_fields_html
        %div{:style => "clear:both;"}
      .secondary-content-section-footer-wrapper
        .secondary-content-section-footer &nbsp;
  = '</div>'.html_safe if embedded
