- cache_with_privacy(item, {:part => "secondary_content_license_metadata"}) do
  - unless item.license_metadata.nil?
    %div{:class => "secondary-content-section-wrapper"}
      %div{:class => "secondary-content-section", :id => "license-box"}
        .secondary-content-section-content
          .license= item.license_metadata.html_safe
          %div{:style => "clear:both;"}
        .secondary-content-section-footer-wrapper
          .secondary-content-section-footer &nbsp;
