- unless item.license_metadata.nil?
  .secondary-content-section-wrapper
    .secondary-content-section#license-box
      .secondary-content-section-content
        .license= item.license_metadata.html_safe
        %div{:style => "clear:both;"}
      .secondary-content-section-footer-wrapper
        .secondary-content-section-footer &nbsp;
