  <% unless params[:relate_to_topic].nil? %>
    <%= hidden_field_tag "relate_to_topic", params[:relate_to_topic] %>
  <% end %>

  <% unless params[:index_for_basket].nil? %>
    <%= hidden_field_tag "index_for_basket", params[:index_for_basket] %>
  <% end %>

  <%= render :partial => 'topics/topic_types', :locals => { :topic_types => TopicType.find(1).full_set,
                                                            :pre_options => pre_options } -%>
