<div class="detail-tools">
  <h3>Actions:</h3>
  <ul>
    <li class="first"><%= link_to "History",
                          {:action => :history,
      :id => item}, :tabindex => '1' %></li>
    <% if can_moderate -%>
    <li><%= link_to "Make this revision live",
         {:action => :restore,
      :id => item,
      :version => item.version,
      :authenticity_token => form_authenticity_token,
      :private => item.private?},
         :method => :post,
         :confirm => 'Are you sure?', :tabindex => '1' %></li>
    <li><%= link_to "reject",
            {:action => :flag_form,
      :id => item,
      :flag => REJECTED_FLAG,
      :version => item.version,
      :authenticity_token => form_authenticity_token},
      :method => :post,
      :confirm => 'Are you sure?', :tabindex => '1' %></li>
    <% end -%>
  </ul>
</div>
