<div class="detail-tools">
  <h3><%=t 'topics.preview_actions.title' %></h3>
  <ul>
    <li class="first"><%= link_to t('topics.preview_actions.history'),
                          {:action => :history,
      :id => item}, :tabindex => '1' %></li>
    <% if can_moderate -%>
    <li><%= link_to t('topics.preview_actions.make_live'),
         {:action => :restore,
      :id => item,
      :version => item.version,
      :authenticity_token => form_authenticity_token,
      :private => item.private?},
         :method => :post,
         :confirm => t('topics.preview_actions.make_live_confirm'), :tabindex => '1' %></li>
    <li><%= link_to t('topics.preview_actions.reject'),
            {:action => :flag_form,
      :id => item,
      :flag => REJECTED_FLAG,
      :version => item.version,
      :authenticity_token => form_authenticity_token},
      :method => :post,
      :confirm => t('topics.preview_actions.reject_confirm'), :tabindex => '1' %></li>
    <% end -%>
  </ul>
</div>
