- additional_classes = defined?(content_classes) ? " #{content_classes}" : ''
%div{:class => "secondary-content-section-wrapper#{class_suffix}"}
  %div{:class => "secondary-content-section#{additional_classes}", :id => div_id}
    .secondary-content-section-content
