<% additional_classes = defined?(content_classes) ? " #{content_classes}" : '' -%>
<div class="secondary-content-section-wrapper<%=class_suffix%>">
  <div id="<%=div_id%>" class="secondary-content-section<%=additional_classes%>">
    <div class="secondary-content-section-content">
