<div class="secondary-content-section-wrapper">
  <div id="tags" class="secondary-content-section">
    <h2>Tags</h2>
    <%= tags_for(item) -%>
    <div class="secondary-content-section-footer-wrapper"><div class="secondary-content-section-footer">&nbsp;</div></div>
  </div>
</div>
