<% @title = 'Editing topic' -%>

<h2><%= h(@title) -%></h2>

<% form_tag :action => 'update', :id => @topic do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to_cancel %>