<% unless params[:topic] && params[:topic][:topic_type_id] -%>
  <% @title = t('topics.new.what_is_topic_about') -%>
  <h2><%= @title -%></h2>
  <% form_tag do -%>
    <fieldset>
      <%= render :partial => 'pick_form' -%>
    </fieldset>
    <%= submit_tag t('topics.new.choose_type'), { :class => "save-button", :tabindex => '1' } -%>
  <% end -%>
  <%= link_to_cancel -%>
<% else -%>
  <%= render :partial => 'form' -%>
<% end -%>

<%= render :partial => "content_wrapper_end" -%>
