<% @title = 'Choose a topic type' -%>

<h2><%= h(@title) -%></h2>

<% form_tag :action => 'pick_topic_type' do %>
  <%= render :partial => 'pick_form' %>
  <%= submit_tag "Choose" , :class => "save-button" %>
<% end %>


<%= link_to_cancel %> |
<%= link_to("help", { :controller => 'index_page', :action => :help_file }, :popup => ['help', 'height=500,width=780,scrollbars=yes,top=100,left=100']) %>
<%= render(:partial => "content_wrapper_end" ) %>
