<h2>Choose a topic type</h2>

<% form_tag :action => 'pick_topic_type' do %>
  <%= render :partial => 'pick_form' %>
  <%= submit_tag "Choose" %>
<% end %>

<%= link_to 'Cancel', :action => 'list' %>
