<div id="content-wrapper" class="full-width notabs">
  <div id="main-content-wrapper">
    <div id="main-content-container">
      <a name="main-contenet"></a>

<% # This is where the actual forme the new topic is displayed, dynamically created in partial %>
<% @title = 'New topic' -%>

<h2><%= h(@title) -%></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to_cancel %>

</div>
</div>
</div>
