<fieldset>
  <div class="row">
    <!--[form:topic_type]-->
<div class="form-element">
  <label for="topic_type_name">Name</label>
  <%= text_field 'topic_type', 'name' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="topic_type_description">Description</label>
  <%= text_area 'topic_type', 'description'  %>
</div>

<!--[eoform:topic_type]-->

  </div>
</fieldset>