<h1>New topic type</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= render(:partial => 'generic_topic_fields', :locals => { :local_id => @topic_type.id }) %>

<%= link_to 'Cancel', :action => 'list' %>
