<% @title = 'New topic type' -%>

<h2><%= h(@title) -%></h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= render(:partial => 'generic_topic_fields', :locals => { :local_id => @topic_type.id }) %>
# TODO: make this render for passed in parent_id
<%= render(:partial => 'inherited_fields', :locals => { :local_id => @topic_type.id }) %>

<%= link_to 'Cancel', :action => 'list' %>
