<%=t 'user_notifier.signup.created' %>

  <%=t 'user_notifier.signup.username' %> <%= @user.login %>
  <%=t 'user_notifier.signup.password' %> <%= @user.password %>

<%=t 'user_notifier.signup.activate_account' %>

  <%= @url %>

<%=t 'user_notifier.signup.enter_this_code' %>

  <%=t 'user_notifier.signup.code' %> <%= @user.activation_code %>

<%= render 'email_footer' %>
