body {
    margin:0;
    padding:0;
    font: 76%/1.3 arial, helvetica, sans-serif;
    background-color: #dcdcdc;
}
/* #################################### Content Structural Items #################################### */
#main-content-wrapper {
    width: 70%;
    float:left;
}
.full-width #main-content-wrapper {
    width: 100%;
}
#main-content-container {
    padding: 1em 0 1em 1em;
}
#secondary-content-wrapper{
    width: 30%;
    float: right;
}
/* #################################### Header #################################### */
#header {
    background: #7a0203 url(../images/header-bg.gif) bottom repeat-x;
    color: white;
    padding-top: 2em;
    float: left;
    width: 100%;
}
#header h1 ,
#header p{
    display: inline;
    padding-left: 25px;
    color: white;
}
#header h1 a{
    color: white;
}
#header h1 a.basket{
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
}
#header p {
    text-align: right;
    padding-left: 0.25em;
}
/* #################################### Top Navigation #################################### */

ul.navlist {
    list-style-type: none;
}
ul.nav-list li{
		display: inline;
		padding: 2px;
		padding-left: .5em;
}

#top-menu ul.nav-list li {
		display: block;
		float: left;	
    padding: 2px 4px;
}

ul.nav-list a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
ul.nav-list a:hover{
    text-decoration: underline;;
    color: #333;
}

#top-menu {
		clear: both;
		float: left;
		width: 100%;
		margin-bottom: 2em;
		padding: 0;
    background-color: #838383;
}

#top-menu ul {
		margin: 0;
		padding: 7px;
}
#top-menu ul.user-nav {
    background-image: none;
    float: right;
    margin-right: 15px;
}
ul#main-nav {
		float: left;
		width: 70%;
		padding-left: 15px;
}
#basket-list{
    margin: 0;
    padding: 0;
    margin-left: 2em;
    margin-bottom: 0.7em;
}
#top-menu li,
#basket-list li {
    border-left: 1px solid white;
}
#top-menu .nav-list li.first,
#basket-list li.first{
    border-left: none;
    padding-left: 0em;
}
#top-menu li a,
#basket-list li a{
    color: white;
}
/* #################################### Content Navigation Tabs #################################### */
#content-tabs ul{
    margin: 1em 0 5px 0;
    padding: 0;
    clear:left;
}
#content-tabs ul li{
    display: inline;
    padding: .75em 0 0.5em 1em;
    background-color: #989898;
}
#content-tabs ul li a{
    padding: .75em 1em .5em 0;
}
#content-tabs ul li.selected{
    display: inline;
    padding: .75em 0 0.5em 1em;
    background-color: white;
}
#content-tabs ul li.selected a{
    padding: .75em 1em .5em 0;
}
#content-wrapper {
    background-color: white;
    float: left;
    width: 100%;
}

/* TinyMCE specific rules */
/* it's important for the background color of tinymce's editor to match content-wrapper */
/* override this in your theme, too, if you change content-wrapper background-color */
/* see http://wiki.moxiecode.com/index.php/TinyMCE:Configuration/content_css for more info */
body.mceContentBody {
    background: white;
}

#content-tabs li a span,
#related-content h2,
#related h2,
#tags h2,
#extended-fields h2{
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px;
    padding-left: 20px;
}
#extended-fields h2{
    background-image: url(../images/icon-extended.gif);
}
#tags h2 {
    background-image: url(../images/icon-tag.gif);
}
.view-link{
    background-image: url(../images/icon-view.gif);
}
.edit-link{
    background-image: url(../images/icon-edit.gif);
}
.history-link{
    background-image: url(../images/icon-history.gif);
}
.related-link{
    background-image: url(../images/icon-related.gif);
}
.discuss-link{
    background-image: url(../images/icon-discuss.gif);
}
/* #################################### Secondary Content #################################### */
.secondary-content-section-wrapper{
    margin: 1em 1em 1em 0em;
}
.secondary-content-section{
    background-color: #ddd;
    padding: 0.7em;
}
.secondary-content-section h2{
    margin: 0;
    color: #333;
    font-size: 1.2em;
}
.secondary-content-section-footer-wrapper{
    margin: -0.7em;
    clear: both;
}
.secondary-content-section-wrapper-blue{
    margin: 1em 1em 1em 0;
}
.secondary-content-section-wrapper-blue .secondary-content-section h2,
.secondary-content-section-wrapper-blue .secondary-content-section{
    color: black;
}
.secondary-content-section-wrapper-blue .secondary-content-section a{
    color: #333;
}
.secondary-content-section-wrapper-blue .secondary-content-section-footer-wrapper{
    margin: -0.7em;
}
div.two-col {
    width: 40%;
    padding-right: 10%;
    float: left;
}
/* #################################### General Content Elements #################################### */
h1,h2{
    color: #670001;
    margin: .2em;
}
h4 {
    margin-bottom: 0;
}

label{
    width: 15em;
    padding-right: 0.5em;
}
.form-element label{
    width: 15em;
    padding-right: 0.5em;
    display: block;
    float: left;
    font-weight: bold;
}
.form-element label.cleared-right{
    float: none;
}
.form-element label.inline{
    display: inline;
    float:none;
}
.form-element{
    padding: .5em;
    width: 100%;
    margin-bottom: 0.2em;
    float: left;
}
.form-element textarea{
    border: 1px solid #666;
    font-size: 1.2em;
    width: 95%;
}
fieldset {
    border: 1px solid #CCC;
    margin-right: 20px;
}
.form_example {
    margin: 5px 0;
}
.login-button,
.save-button{
    margin: 1em;
}
input {
    border: 1px solid #666;
    padding-left: .5em;
}
a {
    color: #3168ab;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.img-wrapper{
    float: right;
    text-align: right;
    background-color: #dfdfdf;
    padding: 0.7em;
    margin-left: 1em;
}
.img-wrapper img{
    margin: -0.7em;
}

/* #################################### Search Results #################################### */
#head-search-wrapper{
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

#search-results{
    margin-left: 2em;
    padding: 0;
}
#search-results p{
    margin-top: 0.2em;
}
#search-results li{
    clear: both;
    float: left;
    list-style-type: none;
    margin-top: 1em;
}
#search-results li h4{
    margin-top: 0;
}
#search-results .thumb {
    float: left;
    width: 65px;
    border: 1px solid blue;
}
#search-results .image-result .description{
    margin-left: 70px;
}
h3.results-count,
h3.search-description {
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
}
h3 b{
    color: black;
}

/* --- Images search results --- */
.image-result-wrapper {
    clear: both;
    margin-top: 2em;
}
.image-result-thumb {
    float: left;
    padding: 0 10px 0 0;
    width: 65px; /* width of thumbnail image */
}
.image-result-header h4 {
    margin: 0;
}
.image-result-thumb a img {
    border: solid 1px;
}
.image-result-thumb a img:visited {
    border: solid 1px;
}
.image-result-thumb a img:hover {
    border: solid 1px;
}

/* #################################### General Content Elements #################################### */
.results-list{
    list-style-type: square;
    color: #666;
    margin: 0em 0 1em 1em;
    padding: 0 0 0 1em;
}
.results-list li{
    margin: 0;
    padding: 0;
}
.results-list a{
    color: blue;
    text-decoration: underline;
}

.content-tools{
    margin: 2em 0 1em 0;
}
.content-tools ul li,
.content-tools ul ul,
.comment-tools ul li,
.comment-tools ul ul{
    display: inline;
    margin: 0;
    padding: 0;
}
.content-tools ul li li,
.comment-tools ul li li{
    border-left: 1px solid black;
    padding-left: .3em;
}

.content-tools ul li li.first,
.comment-tools ul li li.first{
    border-left: 0px solid black;
}
.content-tools ul,
.comment-tools ul {
    margin: 1em 0;
    padding: 0;
}
.flag{
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px;
    padding-left: 20px !important;
    background-image: url(../images/icon-flag.gif);
}
.secondary-content-section .related-action a{
    color: #000033;
}

.results-list .related-action{
    display: block;
}
.images-list li{
    list-style-type: none;
    display: inline;
}
.images-list li a img{
    border: 2px solid white;
    background-color: white;
}
p.help,
p.feed {
    clear: left;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px;
    padding-left: 20px;
    background-image: url(../images/icon-help.gif);
}
p.feed {
    background-image: url(../images/icon-feed.gif);
}
p.feed a{
    font-weight: bold;
    color: #af6529;
    clear: both;
}
#extended dt{
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0;
    margin-right: .5em;
    padding: 0;
}
#extended dd{
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: .4em;
}
.search-prev-next {
    text-align: right;
    margin-right: 1em;
    clear: both;
}
.clear {
    clear:both;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> working <<<<<<<<<<<<<<<<<<<<<< */
th {
    text-align:left;
    vertical-align: top;
    font-weight: bold;
}

#basket-toolbox,
#adminToolbox{
    background-image: url(../images/toolbox.gif);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border: 2px solid #7A0203;
    background-color: #efefef;
    padding: 0em 1em 1em 40px;
    margin-top: 1em;
    -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
}

div#slideshow-controls {
		float: left;
		width: 100%;
}
			
div#slideshow-controls div.wrapper {
    background-repeat: no-repeat;
    border: 2px solid #7A0203;
    background-color: #efefef;
    padding: 0.5em; /*0em 1em 1em 40px;*/
    margin-bottom: 30px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
		text-align:center;
}

div#slideshow-controls p {
		margin: 4px 0;
}

div#slideshow-controls div#slideshow-previous-button {
    float: left;
    margin: 4px 0 0 150px;
    width: 150px;
    font-size: 14pt;
}

div#slideshow-controls div#slideshow-next-button {
    float: right;
    margin: 4px 150px 0 0;
    width: 150px;
    font-size: 14pt;
}

div#slideshow-controls div#slideshow-middle {
                                margin: 0 auto;
}


.comment-wrapper {
    margin: 1.5em 0 1em 0;
    padding: .2em 1em 1em .5em;
    border-left: 2px solid #666;
    background-color: white;
}
.history-table td {
    padding: 0.5em;
    border: 1px solid #ccc;
}
.prev-next{
    float: right;
    padding-right: 1em;
}
span.prev-inactive,
span.prev-active {
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 16px;
}
span.next-inactive,
span.next-active {
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 16px;
}

.prev-inactive {
    background-image: url(../images/icon_results_previous_off.gif);
}
.prev-active {
    background-image: url(../images/icon_results_previous.gif);

}
.next-inactive {
    background-image: url(../images/icon_results_next_off.gif);
}
.next-active {
    background-image: url(../images/icon_results_next.gif);
}
#footer {
    background-color: white;
    margin-top: -1.5em;
    padding: 1em;
    padding-bottom: 2em;
}

#linkToRSS{
    background-image: url(../images/icon-feed.gif);
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 20px;
}
#thisnumber { /* the currently selected number of items per page */
    color: #666;
    font-weight: bold;
    text-decoration: underline;
}
.tag_cloud1 {
    font-size:1em;
}
.tag_cloud2 {
    font-size:1.2em;
}
.tag_cloud3 {
    font-size:1.4em;
}
.tag_cloud4 {
    font-size:1.6em;
}
.tag_cloud5 {
    font-size:1.8em;
}
.tag_cloud6 {
    font-size:2em;
}

div#notice, div#error {
		float: left;
		width: 100%;
}

div#notice div, div#error div {
    background-color: #f9f3cd;
    border: 1px solid #baae8b;
    padding: .5em;
    margin-bottom: 1em;
    color: #333;
}

/* #################################### Misc #################################### */
.theme-choice-wrapper {
    /*            float:right;*/
}
/* code styles */

pre {
    overflow: auto;
}

/* width of keyword search for basket homepage */
input.searchheader-search {
    width: 12em;
}

#search-options-wrapper{
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
}

#sort_direction_field{
    display: inline;
}

/* adjustments of default active scaffold styles */
#extended_fields-content,
#zoom_dbs-content,
#system_settings-content,
#oai_pmh_repository_sets-content,
#licenses-content{
    margin-right: 1em;
}

ul.option-list{
    list-style-type: none;
    clear: left;
    margin-left: 0;
    padding-left: 1em;
    width: 80%;
}
ul.option-list li{
    margin-bottom: 0.5em;
    position: relative;

}
ul.option-list li img{
    position: relative;
    top: .25em;
    margin-left: .5em;
    margin-right: .5em;
}

.option-list label {
    display: inline;
    width: auto;
    float: none;
    font-weight: normal;
}


.license img {
    float: left;
    margin-right: .5em;
}

/* width of members list table for basket administration of members */
table.members-list-table {
    width: 100%;
}

/* column widths for the above. */
.members-list-table td {
    width: 25%;
}

/* for wrapping form elements in a block element - needed for XHTML validation */
div.wrap {
    margin: 0;
    padding: 0;
}

/* optional basket list in a column
   has to be turned on in system settings to show up
   Server > USES_BASKET_LIST_NAVIGATION_MENU_ON_EVERY_PAGE
   you also must have at least one basket besides site defined
   or your layout will do bad things

   you'll need to do a lot in your theme to make it be more than a floating list above the action menu
*/

#basket-list-column{
        width: 160px;
        float: left;
        margin-bottom: 200px;
}
