body {
    margin:0;
    padding:0;
    font: 76%/1.3 arial, helvetica, sans-serif;
    background-color: #dcdcdc;
}
/* #################################### Content Structural Items #################################### */
#main-content-wrapper {
    width: 70%;
    float:left;
}
.full-width #main-content-wrapper {
    width: 100%;
}
#main-content-container, #search-content-container {
    padding: 1em 0 1em 1em;
}

#secondary-content-wrapper {
    width: 30%;
    float: right;
}
/* #################################### Header #################################### */
#header {
    background: #7a0203 url(../images/header-bg.gif) bottom repeat-x;
    color: white;
    padding-top: 2em;
    float: left;
    width: 100%;
}
#header h1 ,
#header p{
    display: inline;
    padding-left: 25px;
    color: white;
}
#header h1 a{
    color: white;
    font-size: 1em;
}
#header h1 a.basket{
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: .8em;
}
#header p {
    text-align: right;
    padding-left: 0.25em;
}
/* #################################### Top Navigation #################################### */

ul.navlist {
    list-style-type: none;
}
ul.nav-list li{
                display: inline;
                padding: 2px;
                padding-left: .5em;
}

#top-menu ul.nav-list li {
                display: block;
                float: left;
    padding: 2px 4px;
}

ul.nav-list a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
ul.nav-list a:hover{
    text-decoration: underline;;
    color: #333;
}
ul.nav-list a img {
  border: none;
}

#top-menu {
                clear: both;
                float: left;
                width: 100%;
                margin-bottom: 2em;
                padding: 0;
    background-color: #838383;
}

#top-menu ul {
                margin: 0;
                padding: 7px;
}
#top-menu ul.user-nav {
    background-image: none;
    float: right;
    margin-right: 15px;
}
ul#main-nav {
                float: left;
                padding-left: 15px;
}
#basket-list{
    margin: 0;
    padding: 0;
    margin-left: 2em;
    margin-bottom: 0.7em;
}
#top-menu li,
#basket-list li {
    border-left: 1px solid white;
}
#top-menu .nav-list li.first,
#basket-list li.first{
    border-left: none;
    padding-left: 0em;
}
#top-menu li a,
#basket-list li a{
    color: white;
}

.basket-list-headline{
    display:none;
}

/* #################################### User Basket Navigation #################################### */
#top-menu #user_baskets_list em {
  background-color: #333;
  width: 14px;
  height: 14px;
  padding: 2px 4px;
  font-size: .6em;
  /* quick way to get rounded corners, doesn't work in IE */
  -moz-border-radius-topleft:2px;
  -moz-border-radius-topright:2px;
  -moz-border-radius-bottomright:2px;
  -moz-border-radius-bottomleft:2px;
}
#top-menu #user_baskets_list ul {
  position: absolute;
  top: 90px;
  right: 70px;
  width: 230px;
  background-color: #fff !important;
  background-image: none;
  border: 1px solid #838383;
  margin: 0;
  padding: 0;
}
#top-menu #user_baskets_list ul li {
  display: block;
  float: none;
  border-bottom: 1px solid #eee;
  padding: 0;
}
#top-menu .user_basket_list_row1 {
  background-color: #fff;
}
#top-menu .user_basket_list_row2 {
  background-color: #eee;
}
#top-menu #user_baskets_list ul li a {
  display: block;
  color: #000;
  padding: 8px 12px;
}

/* #################################### Content Navigation Tabs #################################### */
#content-tabs ul{
    margin: 1em 0 5px 0;
    padding: 0;
    clear:left;
}
#content-tabs ul li{
    display: inline;
    padding: .75em 0 0.5em 1em;
    background-color: #989898;
}
#content-tabs ul li a{
    padding: .75em 1em .5em 0;
}
#content-tabs ul li.selected{
    display: inline;
    padding: .75em 0 0.5em 1em;
    background-color: white;
}
#content-tabs ul li.selected a{
    padding: .75em 1em .5em 0;
}
#content-wrapper, #search-wrapper {
    background-color: white;
    float: left;
    width: 100%;
}

/* TinyMCE specific rules */
/* it's important for the background color of tinymce's editor to match content-wrapper */
/* override this in your theme, too, if you change content-wrapper background-color */
/* see http://wiki.moxiecode.com/index.php/TinyMCE:Configuration/content_css for more info */
body.mceContentBody {
    background: white;
}

#content-tabs li a span,
#related-content h2,
#related h2,
#tags-box h2,
#extended-fields h2{
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px;
    padding-left: 20px;
}
#extended-fields h2{
    background-image: url(../images/icon-extended.gif);
}
#tags-box h2 {
    background-image: url(../images/icon-tag.gif);
}
.view-link{
    background-image: url(../images/icon-view.gif);
}
.edit-link{
    background-image: url(../images/icon-edit.gif);
}
.history-link{
    background-image: url(../images/icon-history.gif);
}
.related-link{
    display: inline;
    background-image: url(../images/icon-related.gif);
}
.discuss-link{
    background-image: url(../images/icon-discuss.gif);
}

/* #################################### item_class_choices #################################### */
#related-items-tools ul, .item_class_choices {
  float: right;
  list-style: none;
  padding: 0;
  margin: -15px 0 0 0;
}
#related-items-tools ul li, .item_class_choices li {
  float: left;
  border-left: 1px solid #000;
  padding: 2px 5px;
}
#related-items-tools ul li.first, .item_class_choices li.first {
  border-left: none;
}

/* #################################### Image Slideshow #################################### */
#selected-image-display {
  text-align: center;
  overflow: auto;
}
#selected-image-display img {
  border: none;
}
#related_items_slideshow_controls img {
  border: none;
}
#related_items_slideshow_controls {
  text-align: center;
  margin-top: 5px;
}

/* #################################### Related Items #################################### */
#related_items.inset {
  float: right;
  margin-top: -12px;
}
#related_items.inset.no-items,
#related_items.sidebar.no-items {
  display: none;
}

#related_items.below .two-col {
  float: left;
  width: 48%;
  padding-right: 10px;
}

#related_items hr {
  padding: 0;
  margin: 0;
}
#related_items h4 {
  padding: 0;
  margin: 1px 0 5px 0;
}
#related_items h4 img {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 3px;
}
#related_items #related_still_image_container {
  text-align: center;
}
#related_items .related-items-section {
  margin-top: 10px;
}
#related_items .two-col {
    width: 100%;
    padding-right: 0;
    float: none;
}
#related_items #related-items-tools {
  margin: 15px auto;
  font-size: .8em;
  text-align: center;
}
#related_items #related-items-tools ul {
  margin: 0;
  padding: 0;
}
#related_items #related-items-tools li {
  padding: 0 5px;
  margin: 0;
  width: 50px;
  text-align: center;
  float: none;
  display: inline;
}
#related_items .no-items {
  display: none;
}
#related_items ul {
  list-style: none;
}
#related_items #detail-linked-toprow ul,
#related_items .two-col ul {
  padding-left: 5px;
  margin: 10px 1px 1px 1px;
}
#related_items #detail-linked-toprow ul ul,
#related_items .two-col ul ul {
  padding-left: 10px;
}
#related_items .results-list {
  margin: 0;
  padding: 0;
}
#related_items .results-list img {
  margin-right: 3px;
}
#related_items .more {
  display: block;
}

/* #################################### Secondary Content #################################### */
.secondary-content-section-wrapper{
    margin: 1em 1em 1em 0em;
}
.secondary-content-section{
    background-color: #ddd;
    /*padding: 0.7em 0.7em 0 0.7em;*/
}
.secondary-content-section-content {
  padding: 0.7em 0.7em 0 0.7em;
}
.secondary-content-section h2{
    margin: 0;
    color: #333;
    font-size: 1.2em;
}
.secondary-content-section-footer-wrapper{
    margin: -0.7em;
    clear: both;
}
.secondary-content-section-wrapper-blue{
    margin: 1em 1em 1em 0;
}
.secondary-content-section-wrapper-blue .secondary-content-section h2,
.secondary-content-section-wrapper-blue .secondary-content-section{
    color: black;
}
.secondary-content-section-wrapper-blue .secondary-content-section a{
    color: #333;
}
.secondary-content-section-wrapper-blue .secondary-content-section-footer-wrapper{
    margin: -0.7em;
}
div.two-col {
    width: 40%;
    padding-right: 10%;
    float: left;
}
/* #################################### General Content Elements #################################### */
h1,h2{
    color: #670001;
    margin: .2em;
}
h4 {
    margin-bottom: 0;
}

label{
    width: 15em;
    padding-right: 0.5em;
}
.form-element label{
    width: 15em;
    padding-right: 0.5em;
    display: block;
    float: left;
    font-weight: bold;
}
.form-element label.cleared-right{
    float: none;
}
.form-element label.inline{
    display: inline;
    float:none;
}
.form-element{
    padding: .5em;
    width: 100%;
    margin-bottom: 0.2em;
    float: left;
}
.form-element textarea{
    border: 1px solid #666;
    font-size: 1.2em;
    width: 95%;
}
fieldset {
    border: 1px solid #CCC;
    margin-right: 20px;
}
.form_example {
    margin: 5px 0;
}
.login-button,
.save-button{
    margin: 1em;
}
input, textarea {
    border: 1px solid #666;
    padding-left: .5em;
}
a {
    color: #3168ab;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.img-wrapper{
    float: right;
    text-align: right;
    background-color: #dfdfdf;
    padding: 0.7em;
    margin-left: 1em;
}
.img-wrapper img{
    margin: -0.7em;
}

/* #################################### Search Results #################################### */
#head-search-wrapper{
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

#search-results{
    margin-left: 2em;
    padding: 0;
}
#search-results p{
    margin-top: 0.2em;
}
#search-results li{
    clear: both;
    float: left;
    list-style-type: none;
    margin-top: 1em;
}
#search-results li h4{
    margin-top: 0;
}
#search-results .thumb {
    float: left;
    width: 65px;
    border: 1px solid blue;
}
#search-results .image-result .description{
    margin-left: 70px;
}
h3.results-count,
h3.search-description {
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
}
h3 b{
    color: black;
}

/* --- Images search results --- */
.image-result-thumb {
    float: left;
    padding: 0 10px 0 0;
    width: 65px; /* width of thumbnail image */
}
.image-result-thumb a img {
    border: solid 1px;
}
.image-result-thumb a img:visited {
    border: solid 1px;
}
.image-result-thumb a img:hover {
    border: solid 1px;
}

/* --- Both Search Results --- */
#result-show {
  margin-bottom: 15px;
}

.generic-result-wrapper,
.image-result-wrapper {
  clear: left;
  padding: 15px;
  border-bottom: 1px dashed #bbb;
  margin-right: 15px;
}

.generic-result-wrapper:hover,
.image-result-wrapper:hover {
  background-color: #F7F7F7;
}

.generic-result-wrapper h4,
.image-result-header h4 {
  margin: 0;
}

.generic-result-wrapper.first,
.image-result-wrapper.first {
  border-top: 1px dashed #bbb;
}

.generic-result-topic-type {
  float: right;
  color: #888;
}

#bottomlinks {
  margin-top: 15px;
}

/* #################################### General Content Elements #################################### */
.results-list{
    list-style-type: square;
    color: #666;
    margin: 0em 0 1em 1em;
    padding: 0 0 0 1em;
}
.results-list li{
    margin: 0;
    padding: 0;
}
.results-list a{
    color: blue;
    text-decoration: underline;
}

.content-tools{
    margin: 2em 0 0 0;
}
.content-tools ul li,
.content-tools ul ul,
.comment-tools ul li,
.comment-tools ul ul{
    display: inline;
    margin: 0;
    padding: 0;
}
.content-tools ul li li,
.comment-tools ul li li{
    border-left: 1px solid black;
    padding-left: .3em;
}

.content-tools ul li li.first,
.comment-tools ul li li.first{
    border-left: 0px solid black;
}
.content-tools ul,
.comment-tools ul {
    margin: 1em 0;
    padding: 0;
}
.flag{
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px;
    padding-left: 20px !important;
    background-image: url(../images/icon-flag.gif);
}
.secondary-content-section .related-action a{
    color: #000033;
}

.results-list .related-action{
    display: block;
}
.images-list li{
    list-style-type: none;
    display: inline;
}
.images-list li a img{
    border: 2px solid white;
    background-color: white;
}
p.help,
p.feed {
    clear: left;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px;
    padding-left: 20px;
    background-image: url(../images/icon-help.gif);
}
p.feed {
    background-image: url(../images/icon-feed.gif);
}
p.feed a{
    font-weight: bold;
    color: #af6529;
    clear: both;
}
#extended dt{
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0;
    margin-right: .5em;
    padding: 0;
}
#extended dd{
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: .4em;
}
.search-prev-next {
    text-align: right;
    margin-right: 1em;
    clear: both;
}
.clear {
    clear:both;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> working <<<<<<<<<<<<<<<<<<<<<< */
th {
    text-align:left;
    vertical-align: top;
    font-weight: bold;
}

#basket-toolbox,
#adminToolbox{
    background-image: url(../images/toolbox.gif);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border: 2px solid #7A0203;
    background-color: #efefef;
    padding: 0em 1em 1em 40px;
    margin-top: 1em;
    -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
}

div#slideshow-controls {
                float: left;
                width: 100%;
}

div#slideshow-controls div.wrapper {
    background-repeat: no-repeat;
    border: 2px solid #7A0203;
    background-color: #efefef;
    padding: 0.5em; /*0em 1em 1em 40px;*/
    margin-bottom: 30px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
                text-align:center;
}

div#slideshow-controls p {
                margin: 4px 0;
}

div#slideshow-controls div#slideshow-previous-button {
    float: left;
    margin: 4px 0 0 150px;
    width: 150px;
    font-size: 1.4em;
}

div#slideshow-controls div#slideshow-next-button {
    float: right;
    margin: 4px 150px 0 0;
    width: 150px;
    font-size: 1.4em;
}

div#slideshow-controls div#slideshow-middle {
                                margin: 0 auto;
}


/* ################################## Comments ################################## */
/* see public/stylesheets/comment.css */


.history-table td {
    padding: 0.5em;
    border: 1px solid #ccc;
}
.prev-next{
    float: right;
    padding-right: 1em;
}
.prev-next.after-results {
  margin-top: 15px;
}
span.prev-inactive,
span.prev-active {
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 16px;
}
span.next-inactive,
span.next-active {
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 16px;
}

.prev-inactive {
    background-image: url(../images/icon_results_previous_off.gif);
}
.prev-active {
    background-image: url(../images/icon_results_previous.gif);

}
.next-inactive {
    background-image: url(../images/icon_results_next_off.gif);
}
.next-active {
    background-image: url(../images/icon_results_next.gif);
}

/*
 * Container
 */
#container {
  margin-bottom: -5px;
}

/*
 * FOOTER
 */
.footer_div {
  background-color: white;
  padding: 5px 15px;
}
#linkToRSS {
  padding: 15px 0 5px 0;
}
#linkToRSS ul {
  list-style-image: url(../images/icon-feed.gif);
  margin: 0;
}
#footer_links {
  padding-bottom: 20px;
}
#footer_links ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 460px;
}
#footer_links ul li {
  border-right: 1px solid #000;
  display: inline;
  padding: 3px 15px;
  margin: 0;
}
#footer_links ul li.last {
  border-right: 0px;
}
/*
 * END FOOTER
 */


#thisnumber { /* the currently selected number of items per page */
    color: #666;
    font-weight: bold;
    text-decoration: underline;
}
.tag_cloud1 {
    font-size:1em;
}
.tag_cloud2 {
    font-size:1.2em;
}
.tag_cloud3 {
    font-size:1.4em;
}
.tag_cloud4 {
    font-size:1.6em;
}
.tag_cloud5 {
    font-size:1.8em;
}
.tag_cloud6 {
    font-size:2em;
}

div#notice, div#error {
                float: left;
                width: 100%;
}

div#notice div, div#error div {
    background-color: #f9f3cd;
    border: 1px solid #baae8b;
    padding: .5em;
    margin-bottom: 1em;
    color: #333;
}

/* ################################ Tag Listing ################################ */
#tag_search_div {
  margin: 15px 0;
}
#tag_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#tag_list li {
  float: left;
  padding: 5px 15px;
}

/* ############################### User Profiles ################################ */
.avatar {
  float: left;
  padding: 15px 10px;
}
.avatar_hover {
  border: 1px solid black;
}
.profile_content_left {
  margin-left: 90px;
  width: 49%;
}
.profile_content_right {
  float: right;
  width: 49%;
  margin-left: 30px;
  min-height: 150px;
}
#portrait_help_div {
  margin: 25px auto;
  padding: 0 15px;
  border: 1px solid #000;
  background-color: #eee;
  width: 80%;
}
#close_help {
  padding: 5px 0 10px 0;
  text-align: center;
}
#selected_portrait, #portrait_help, #new_portrait {
  clear: both;
  padding-top: 14px;
  font-size: 0.8em;
  text-align: center;
}
.portrait_image {
  float: left;
  width: 50px;
  height: 50px;
}
#portrait_images .portrait_image,
#portrait_images_static .portrait_image {
  padding-right: 5px;
  padding-bottom: 5px;
}
.portrait_image img {
  border: none;
  float: left;
}
.portrait_controls img {
  border: none;
  display: block;
}
.user_contribution_link_avatar {
  border: none;
  padding-right: 4px;
  height: 55px;
}
.created_link {
  float: left;
  width: 49%;
}
.last_edited_link {
  float: right;
  width: 49%;
}
.stylish_user_contribution_link_avatar {
  float: left;
  padding: 5px;
  border-left: 2px solid gray;
}
.profile_basket_options {
  float: right;
  margin-right: 15px;
  font-size: 0.8em;
}
#user_profile_baskets_list li ul {
  display: inline;
  padding: 0;
  margin: 0;
}
#user_profile_baskets_list li ul li {
  display: inline;
  border-left: 1px solid #000;
  padding: 0 3px;
}
#user_profile_baskets_list li ul li.first {
  border-left: none;
}

/* ################################ Registration ################################ */
#user_avatar_updater_table {
  display: inline;
  margin-left: 15px;
}
#user_avatar_updater_table td {
  width: 280px;
  font-size: .8em;
}
#user_avatar_updater_table td#user_avatar_img {
  width: 50px;
  text-align: center;
}

/* #################################### Misc #################################### */
.theme-choice-wrapper {
    /*            float:right;*/
}
/* code styles */

pre {
    overflow: auto;
}

.recent-topic-divider {
  clear: both;
}

.required em {
  color: red;
}

.topic_menu {
}

.topic_menu_structured {
  width: 400px;
  margin: 0 auto;
  list-style: none;
}
.topic_menu_structured li {
  float: left;
  width: 130px;
  height: 50px;
}
.topic_menu_structured li a {
  display: block;
  padding: 15px 0;
  margin: 5px;
  text-align: center;
  background-color: #D6E5C1;
}

/* width of keyword search for basket homepage */
input.searchheader-search {
    width: 12em;
}

#search-options-wrapper{
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: -20px;
}

#sort_direction_field{
    display: inline;
}

/* adjustments of default active scaffold styles */
#extended_fields-content,
#zoom_dbs-content,
#system_settings-content,
#oai_pmh_repository_sets-content,
#licenses-content{
    margin-right: 1em;
}

ul.option-list{
    list-style-type: none;
    clear: left;
    margin-left: 0;
    padding-left: 1em;
    width: 80%;
}
ul.option-list li{
    margin-bottom: 0.5em;
    position: relative;

}
ul.option-list li img{
    position: relative;
    top: .25em;
    margin-left: .5em;
    margin-right: .5em;
}

.option-list label {
    display: inline;
    width: auto;
    float: none;
    font-weight: normal;
}

.license {
  padding: 5px;
}
.license img {
    float: left;
    margin: 0 10px 0 0;
}
.license br {
  display: none;
}

/* column widths for the above. */
.members-list-table {
  width: 100%;
}
.member_username, .member_joined, .member_email, .member_change_to, .member_administrate {
  width: 18%;
}
.members-list-table td.member_avatar {
  width: 50px !important;
  padding: 10px;
}

/* for wrapping form elements in a block element - needed for XHTML validation */
div.wrap {
    margin: 0;
    padding: 0;
}

/* optional basket list in a column
   has to be turned on in system settings to show up
   Server > USES_BASKET_LIST_NAVIGATION_MENU_ON_EVERY_PAGE
   you also must have at least one basket besides site defined
   or your layout will do bad things

   you'll need to do a lot in your theme to make it be more than a floating list above the action menu
*/

#basket-list-column{
        width: 160px;
        float: left;
        margin-bottom: 200px;
}
#basket_list_table {
  width: 100%;
}
#basket_list_table tr {
  height: 55px;
}
.basket_name, .basket_created {
  width: 20%;
}
.basket_options {
  width: 60%;
}
.basket_image img {
  border: none;
  margin-right: 10px;
}

/* SEARCH SORTING CONTROLS */
.sorting_control {
  border: none;
}

/* Special formatting for extended fields with multiple values */

textarea.extended_field_textarea {
                                width: 500px;
}

div.extended_field_multiple_fields {
                                float: left;
                                margin: 0;
                                padding: 0;
}

div.extended_field_multiple_fields div {
                                margin: 4px 0;
}

div.extended_field_radio_button_collection {
                                float: left;
                                clear: right;
                                margin-bottom: 5px;
}

div.extended_field_multiple_fields a {
                                float: left;
                                padding-left: .5em;
}

div.extended_field_autocomplete {
                          margin: 0px;
                          padding: 0px;
                          width: 250px;
                          background: #fff;
                          border: 1px solid #888;
                          position: absolute;
}

div.extended_field_autocomplete ul {
                          margin: 0px;
                          padding: 0px;
                          list-style-type: none;
}

div.extended_field_autocomplete ul li.selected {
                          background-color: #ffb;
}

div.extended_field_autocomplete ul li {
                          margin: 0;
                          padding: 2px;
                          display: block;
                          list-style-type: none;
                          cursor: pointer;
}

/*
 * Category List
 */
.category_list {
  width: 150px;
  border: 1px solid #CCCCFF;
  background-color: #EEFFFF;
  float: left;
  margin-right: 10px;
}
.category_list ul {
  list-style: none;
}
.category_list li.current {
  list-style: url(/images/icon_results_next.gif) circle;
}
.category_list li.current a {
  color: #000;
}

/*
 * Google Map CSS
 */
/* According to Joel, who works at Google, you can hide overflow, which apparently doesn't break the license
   http://groups.google.com/group/Google-Maps-API/browse_thread/thread/3360a82deb471cd3 */
.google_map_container {
  overflow: hidden;
}
div.gmnoprint {
  white-space: normal !important;
}

/*
 * Slideshow controls
 */
.buttons {
  border: 1px solid #444;
  background-color: #ccc;
  padding: 3px 8px 0 8px;
  width: 80px;
  margin: 0 auto;
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
}
.one_button {
  width: 32px;
}
#selected-image-display .slideshow_previous {
  border-right: 1px solid #444;
}
#selected-image-display .slideshow_grid {
  border-right: 1px solid #444;
}
#selected-image-display .slideshow_next {
  border-left: 1px solid #444;
}

/*
 * Search Sources
 */
#search_sources {
  margin: 0 15px;
}
#search_sources .search_source_more {
  margin-left: 10px;
}
#search_sources .images .image-result-wrapper img {
  float: left;
  margin-right: 5px;
  border: none;
}
#search_sources .generic-result-wrapper,
#search_sources .image-result-wrapper {
  padding: 5px;
}
#search_page_search_sources {
  width: 30%;
  float: right;
  background-color: #fff;
  clear: right;
  padding: 5px 5px 25px 5px;
  border-left: 1px solid #bbb;
}

/*
 * Active Scaffold
 */

a.disabled {
  display: none;
}
.active-scaffold textarea {
  width: 70%;
}

/*
 * Inset for Related Items with White background
 *
 * SECONDARY CONTENT WRAPPER FOR MAIN CONTENT (WHITE)
 */
.secondary-content-section-wrapper-white {
  background-color: white;
  width: auto;
}
.secondary-content-section-wrapper-white .secondary-content-section {
  /*border-top: 1px dashed #444;
  border-bottom: 1px dashed #444; */
  background-color: white;
}
.secondary-content-section-wrapper-white .secondary-content-section-footer-wrapper {
  background-color: white;
  width: auto; height: 13px; padding: 0; margin: 0;
}
.secondary-content-section-wrapper-white .secondary-content-section-footer {
  background-color: white;
  width: auto; height: 13px; padding: 0; margin: 0;
}

/*
 * maplinks are used on results pages to switch view type
 */
#maplinks {
  margin-bottom: 10px;
}

/*
 * Profile create form
 */
#profiles-create--form fieldset {
  border: 1px solid #999;
  clear: none;
  padding: 10px;
  margin: 10px;
}

#profiles-create--form .form-element {
  padding: 5px 0;
}

.allowed_check_box {
  width: 40px;
  display: inline;
  float: left;
}

.expand_policy {
  margin-left: 5px;
  margin-top: -3px;
}

.show_all_fields {
  font-size: .7em;
}

/*
 * Horizontal Image Size Choices
 */

.still_image_container {
  margin-bottom: 0;
}

.pipe-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pipe-list ul li {
  float: left;
  text-align: center;
  border-right: 1px solid #888;
}

.pipe-list ul li.last {
  border-right: none;
}

.pipe-list ul li a {
  display: block;
  padding: 10px 18px 15px 18px;
}

.pipe-list ul li.last a {
  padding-bottom: 0px;
}

.pipe-list ul li.current a {
  color: #000;
  background-color: #eee;
  font-weight: bold;
}

.pipe-list .file_size {
  display: block;
  color: #777;
}

/*
 * Configuration Page
 */
.configured_site_controls form,
.configured_site_controls form div {
  display: inline;
}

/*
 * Basket Homepages
 */
#moderator-tools {
  margin: 15px 10px 0 0;
  border: 1px solid #aaa;
  background-color: #f0f0f0;
  padding: 0;
}
#moderator-tools ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
#moderator-tools ul li {
  float: left;
  padding: 0;
  margin: 0;
  border-right: 1px solid #aaa;
}
#moderator-tools ul li h4,
#moderator-tools ul li a {
  display: block;
  padding: 4px 35px;
  color: #555;
  margin: 0;
}
#moderator-tools ul li.first a {
  padding: 4px 35px;
}
#moderator-tools ul li a:hover {
  background-color: #ddd;
  text-decoration: none;
}
#moderator-tools.slim ul li h4,
#moderator-tools.slim ul li a {
  padding: 4px 5px;
}

/*
 * Language Dropdown Selection
 */
#footer_language_selection {
  float: right;
  margin-top: -50px;
}
#footer_language_selection label {
  width: auto;
}

/*
 * Extended Fields Display
 */
.detail-extended-field-label {
  vertical-align: text-top;
}

/*
 * Credits, useful for things like "powered by kete"
 */
.credits {
  padding-top: 1em;
  text-align: center;
  font-size:0.75em;
}

.credits img {
  border: none;
}

/*
 * Comment in reply to
 */
#comment_in_response_to {
  border: 1px solid #CCC;
  padding: 15px;
  margin: 10px 20px 0 0;
}
#comment_in_response_to_original {
  float: right;
}
