.commentwrapper{
        background-image: url(../images/comment_tplf.gif);
        background-position: 0 20px;
        background-repeat: no-repeat;
        margin: 1.5em 0 1em 0;
}

.commentwrapper h5{
        background-image: url(../images/comment_tprt.gif);
        background-position: 100% 20px;
        background-repeat: no-repeat;
        padding: 2px 1em 40px 1.2em;
        margin: 2px 0 -20px -1em;
        font-size: 1.2em;
}
.comment-content{
        padding: 0em 1em 1em 1em;
        border: 1px solid #b6b5b2;
        border-top: none;
        background-color: white;
}