/* * { behavior: url(iepngfix.htc) }, no link exists to this file */

body {

}
#body-outer-wrapper {
        width: 900px !important;
        margin: auto;
}
#secondary-content-wrapper{
        width: 28%;
}
#content-tabs ul li{
        margin-right: 0.7em;
        padding: 0em 0em 0.5em 1em;
}
#content-tabs ul li a{
        padding: 0.75em 1em .5em 0;
        margin-right: -.5em;
}
#content-tabs ul li.selected{
        padding: 0em 0 0.5em 1em;
}
#content-tabs ul li.selected a{
        padding: .75em 1em .5em 0;
        margin-right: -.5em;
        background-color: white;
}
#header h1 a{
  font-size: .8em;
}
#header h1 a.basket {
  font-size: .6em;
}
#right-search-box h3 {
  font-size: 1.2em;
}
