#body-outer-wrapper {
	margin: 0 20px;
	width: auto !important;
	min-width: none;
	max-width: none;
}

#main-content-wrapper {
	width: 50%
}

.notabs #main-content-wrapper {
	background: none;
	background-image: none !important;
}

#search-content-wrapper {
	background-image: url(/images/content-tab-sel-lf.gif);
	background-position: top left;
	background-repeat: no-repeat;
	width: 100%;
}


#main-content-wrapper .full-width {
	width: 70%;
}

#basket-list-column {
	width: 25%;
	float: left;
}

.notabs #basket-list-column {
	background-image: url(/images/content-tab-sel-lf.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

div.basket-list-column {
	margin: 1em 0em 1em 1em;
	margin-right: 15px;
}


#secondary-content-wrapper {
	width: 25%;
}

#footer {
	float: left;
}
