#body-outer-wrapper {
	margin: 0 20px;
	width: auto;
	min-width: none;
	max-width: none;
}

.main-content-wrapper {
	width: 50%
}

.notabs .main-content-wrapper {
	background: none;
}

.search-refine-box .main-content-wrapper {
	background-image: url(/images/content-tab-sel-lf.gif);
	background-position: top left;
	background-repeat: no-repeat;
	width: 100%;
}


.full-width .main-content-wrapper {
	width: 70%;
}

/*.full-width .form-element textarea, .full-width .form-element input[type="text"] {
	width: 69%;
}
*/

#basket-list-column {
	width: 25%;
	float: left;
}

.notabs #basket-list-column {
	background-image: url(/images/content-tab-sel-lf.gif);
	background-position: top left;
	background-repeat: no-repeat;
}


#secondary-content-wrapper {
	width: 25%;
}

div.basket-list-column {
	margin: 1em 0em 1em 1em;
	margin-right: 15px;
}

#footer {
	float: left;
}
