<% @title = 'Editing video' -%>

<h2><%= h(@title) -%></h2>

<% form_for :video,
             :url => { :action => 'update',
                       :id => @video },
             :html => { :multipart => true } do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to_cancel %>
