/* dan webb's codehighlighter styles (http://www.danwebb.net/)
   care of http://drnicwilliams.com/external/CodeHighlighter/styles.css */
pre {
    border: 1px solid black;
    border-color: #BBB #DDD #DDD #BBB;
    margin : 2em;
    padding : 1em;
    line-height: 1.5;
    background: white !important;
    overflow: auto;
    color: black !important;
}

code {
    font-size: 1.2em;
}

.javascript .comment, .ruby .comment {
    color : green;
}

.javascript .string, .ruby .string {
    color : teal;
}

.javascript .keywords, .ruby .keywords {
    color : purple;
}

.javascript .global {
    color : blue;
}

.javascript .brackets, .ruby .brackets {
    color : navy;
}

.css .comment {
    color : gray;
}

.css .properties {
    color : navy;
}

.css .selectors {
    color : maroon;
    font-weight : bold;
}

.css .units {
    color :red;
}

.css .urls {
    color :green;
}

.html .tag {
    color : purple;
}

.html .comment {
    color : gray;
    font-style: italic;
}

.html .string {
    color : navy;
}

.html .doctype {
    color : teal;
}
