/* dan webb's codehighlighter styles (http://www.danwebb.net/)
   care of http://drnicwilliams.com/external/CodeHighlighter/styles.css */
pre {
  border: 1px solid black;
  border-color: #BBB #DDD #DDD #BBB;
  margin : 2em;
  padding : 1em;
  line-height: 1.5;
  background: white !important;
  overflow: auto;
  color: black !important;
}

code {
  font-size: 1.2em;
}

/* COLOURS */

.javascript .comment,
.ruby .comment,
.sql .comment,
.perl .comment,
.php .comment,
.yml .comment,
.css .urls {
  color: green;
}

.javascript .string,
.ruby .string,
.sql .string,
.bash .string,
.perl .string,
.php .string,
.html .doctype,
.xml .doctype {
  color: teal;
}

.javascript .keywords,
.ruby .keywords,
.sql .keywords,
.bash .keywords,
.perl .keywords,
.php .keywords,
.html .tag,
.xml .tag,
.yml .key {
  color: purple;
}

.javascript .global,
.php .global,
.yml .value {
  color: blue;
}

.javascript .brackets,
.ruby .brackets,
.html .string,
.css .properties,
.bash .dollar {
  color: navy;
}

.css .comment,
.html .comment,
.xml .comment {
  color: gray;
}

.css .selectors {
  color: maroon;
}

.css .units {
  color: red;
}

.bash .pipe,
.bash .amp {
  color: maroon;
}

.ruby .constants,
.ruby .symbol {
  color: #0088ff;
}

.ruby .instance {
  color: #BD48B3;
}


/* PROPERTIES */

.html .comment,
.xml .comment {
  font-style: italic;
}
.css .selectors {
  font-weight: bold;
}
.bash .dollar {
  font-weight: bold;
}