:google_map_api:
  :api_key: ABQIAAAAqNSzGzaEZ-oLF5t965J0aRSa1xZB9HXr6knabyFZRyEcatenWhTT6KNxkZ7ovTLOwmDvGXdAtVuX6Q
  :default_latitude: -40.675084
  :default_longitude: 173.172362
  :default_zoom_lvl: 4
