= render "topics/content_wrapper_start", :style_classes =>"full-width notabs"
%h3= @title
= link_to_tagged(@tag, 'Topic', @site_basket, :link_text => t('base.back').capitalize)
= render(:partial => "topics/content_wrapper_end" )
