<div id="content-wrapper" class="notabs">
  <div id="main-content-wrapper">
    <div id="main-content-container">
      <a name="main-contenet"></a>
      <%=t 'errors.error500.body' %>
    </div>
  </div>
</div>