<div id="content-wrapper" class="notabs">
  <div id="main-content-wrapper">
    <div id="main-content-container">
      <a name="main-contenet"></a>

      <h2>Invalid Authenticity Token!</h2>

      <p>Oops! It seems your session has expired and caused your authenticity token to become invalid.</p>

      <p>This could be because you've returned to a page that was cached by your browser (containing the old token).</p>

      <h3>What now?</h3>

      <p>You can try fix this by doing one of the following:</p>

      <ol>
        <li>Clear your browsers cache and reload the page.</li>
        <li>Logout and back into this site, then try again.</li>
      </ol>

      <h3>Still getting this error?</h3>

      <p>Sorry about that. You can either try again a bit later on or help us out by reporting the problem.</p>
      <p>Please send an email via the "Contact" link at the top of the page.</p>
      <p>Include details about what you were trying to do.</p>

      <p><span style="font-weight: bold;">Example </span></p>
      <p>"I was trying to edit the topic 'Introduction' and I got the Authenticity Token problem."</p>

      <p>Please include the URL of the page that gave you the error. The URL is in the address bar of your browser and will start with http://. Please include the entire URL.</p>

      <p><span style="font-weight: bold;">Example</span></p>
      <p>http://horowhenua.kete.net.nz/site/topics/show/44</p>

      <h3>Thanks and once again sorry for the inconvenience. </h3>

    </div>
  </div>
</div>