<div id="content-wrapper" class="notabs">
  <div id="main-content-wrapper">
    <div id="main-content-container">
      <a name="main-contenet"></a>

      <h2>500 Error!</h2>

      <p>Oops! Zebra failed to connect to get the information you requested.</p>

      <p>This could be because Zebra is not started, or is currently offline for maintenance.</p>

      <h3>What now?</h3>

      <p>Try pressing the back button in your browser. Then try to do whatever you were doing again.</p>

      <h3>Still getting this error?</h3>

      <p>Sorry about that. You can either try again a bit later on or help us out by reporting the problem.</p>
      <p>Please send an email via the "Contact" link at the top of the page.</p>
      <p>Include details about what you were trying to do.</p>

      <p><span style="font-weight: bold;">Example </span></p>
      <p>"I was trying to find information on Foxton Beach. I typed 'Foxton Beach' into the search and got this error."</p>

      <p>Please include the URL of the page that gave you the error. The URL is in the address bar of your browser and will start with http://. Please include the entire URL.</p>

      <p><span style="font-weight: bold;">Example</span></p>
      <p>http://horowhenua.kete.net.nz/site/topics/show/44</p>

      <h3>Thanks and once again sorry for the inconvenience.</h3>

    </div>
  </div>
</div>