<h3><%=t 'configure.settings_complete.title' %></h3>
<% if IS_CONFIGURED -%>
  <p><%=t 'configure.settings_complete.restart' %></p>
<% else -%>
  <p><%=t 'configure.settings_complete.next' %></p>
  <% form_remote_tag( :url => { :action => 'done_with_settings' },
                                :href => url_for( :action => 'done_with_settings' ) ) do %>
    <%= submit_tag t('configure.settings_complete.next_buton') -%>
  <% end -%>
<% end -%>
