<h3><%=t 'configure.settings_complete.title' %></h3>
<% if IS_CONFIGURED -%>
  <p><%=t 'configure.settings_complete.restart' %></p>
<% else -%>
  <p><%=t 'configure.settings_complete.next' %></p>
  <%= form_tag({ :action => 'done_with_settings' }, :remote => true) do %>
    <%= submit_tag t('configure.settings_complete.next_buton') -%>
  <% end -%>
<% end -%>
