<p><%=t 'configure.zebra_start.title' %></p>
<% form_remote_tag( :url => { :action => 'start_zebra' },
                    :href => url_for( :action => 'start_zebra' ) ) do %>
  <div class="wrap"><%= submit_tag t('configure.zebra_start.start_button') -%></div>
<% end -%>
