<p>The Search Engine needs to
  be started to continue.</p>
<% form_remote_tag( :url => { :action => 'start_zebra' },
:href => url_for( :action => 'start_zebra' ) ) do %>
  <div class="wrap"><%= submit_tag 'Start' -%></div>
<% end -%>
