<% if User.locale_choices.keys.size > 1 %>
  <div id="footer_language_selection" class="footer_div">
    <% form_tag(:controller => 'account', :action => 'change_locale') do %>
      <div class="form-element">
        <noscript><label><%=t 'account.locale_selection.language' %></label></noscript>
        <%= locale_dropdown(nil, { :default => I18n.locale, :pre_text => t('account.locale_selection.choose_locale') }) -%>
        <noscript><%= submit_tag t('account.locale_selection.change_locale') %></noscript>
      </div>
    <% end %>
  </div>
<% end %>
