<% unless @viewer_portraits.nil? -%>
<%# we need to add a blank portrait here, so the second image can be moved to first place (prototype restriction) -%>
<div class="portrait_image blank_div" style="width:1px;"></div>
<% @viewer_portraits.each do |portrait| -%>
  <% if @viewer_is_user || !portrait.thumbnail_file.file_private -%>
    <div id="image_<%= portrait.id -%>" class="portrait_image">
      <%= link_to image_tag(portrait.thumbnail_file.public_filename,
                            { :width => 50, :height => 50, :alt => "#{portrait.title}. " }),
                  { :urlified_name => portrait.basket.urlified_name,
                    :controller => 'images',
                    :action => 'show',
                    :id => portrait.id } -%>
      <%= render :partial => 'portrait_controls', :locals => { :portrait => portrait } -%>
    </div>
  <% end -%>
<% end -%>
<% end -%>
