<div id="image_<%= portrait.id -%>" class="portrait_image">
  <%= link_to image_tag(portrait.thumbnail_file.public_filename,
                        { :width => 50, :height => 50, :alt => "#{portrait.title}. ",
                          :title => "Drag and Drop portraits within the 'Other Portraits' section to reorder them or place on top of the current portrait to change it." }),
                        { :urlified_name => portrait.basket.urlified_name,
                          :controller => 'images',
                          :action => 'show',
                          :id => portrait.id } -%>
  <%= render :partial => 'portrait_controls', :locals => { :portrait => portrait } -%>
</div>
