<% @title = 'Editing audio recording' -%>

<h2><%= h(@title) -%></h2>

<% form_for :audio_recording,
             :url => { :action => 'update',
                       :id => @audio_recording },
             :html => { :multipart => true } do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to_cancel %>
