<h1>Editing audio_item</h1>

<% form_tag :action => 'update', :id => @audio_item do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @audio_item %> |
<%= link_to 'Back', :action => 'list' %>
