<% @title = 'New audio recording' -%>

<h2><%= h(@title) -%></h2>

<% form_for :audio_recording,
            :url => { :action => 'create'},
            :html => { :multipart => true } do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Cancel', :action => 'list' %>
