<% @title = 'New audio recording' -%>

<h2><%= h(@title) -%></h2>

<% form_for :audio_recording,
            :url => { :action => 'create'},
            :html => { :multipart => true } do |form| %>
  <%= render :partial => 'form', :object => form %>
  <div class="wrap"><%= submit_tag "Create", :class => "save-button" %></div>
<% end %>

<%= link_to_cancel %>

<%= render(:partial => "topics/content_wrapper_end" ) %>