.notabs #main-content-wrapper {
        background-image: url(/images/content-tab-sel-lf.gif);
        background-position: top left;
        background-repeat: no-repeat;
}
/* don't use a background image for this div when rtl presentation */
html[dir="rtl"] .notabs #main-content-wrapper {
        background-image: none;
}
#search-content-wrapper {
	background-image: url(/images/content-tab-sel-lf.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
.main-content-footer-wrapper {
        margin: 0 0 -1em -1em;
}
#content-tabs ul li{
        background-image: url(/images/content-tab-unsel-lf.gif);
        background-repeat: no-repeat;
}
#content-tabs ul li a{
        background-image: url(/images/content-tab-unsel-rt.gif);
        background-repeat: no-repeat;
        background-position: 100% 0;
}
#content-tabs ul li.selected{
        background-image: url(/images/content-tab-sel-lf.gif);
        background-repeat: no-repeat;
}
#content-tabs ul li.selected a{
        background-image: url(/images/content-tab-sel-rt.gif);
        background-repeat: no-repeat;
        background-position: 100% 0;
}
#content-wrapper, #search-wrapper {
        background-color: white;
        background-image: url(/images/content-tab-sel-rt.gif);
        background-repeat: no-repeat;
        background-position: 100% 0;
}
/* tabs are on opposite side with rtl, switch rounded corner */
html[dir="rtl"] #content-wrapper, #search-wrapper {
    background-image: none;
}
#top-menu {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

/*
 * SECONDARY CONTENT WRAPPER FOR MAIN CONTENT (BLUE)
 */
.secondary-content-section-wrapper-blue {
  background: #cddced url(/images/insetbox-2-tplf.gif) no-repeat top left;
  width: auto;
}
.secondary-content-section-wrapper-blue .secondary-content-section {
  background: transparent url(/images/insetbox-2-tprt.gif) no-repeat top right;
}
.secondary-content-section-wrapper-blue .secondary-content-section-footer-wrapper {
  background: transparent url(/images/insetbox-2-btlf.gif) no-repeat bottom left;
  width: auto; height: 13px; padding: 0; margin: 0;
}
.secondary-content-section-wrapper-blue .secondary-content-section-footer {
  background: transparent url(/images/insetbox-2-btrt.gif) no-repeat bottom right;
  width: auto; height: 13px; padding: 0; margin: 0;
}

/*
 * SECONDARY CONTENT WRAPPER FOR MAIN CONTENT (GREY)
 */
.secondary-content-section-wrapper {
  background: #dfdfdf url(/images/insetbox-1-tplf.gif) no-repeat top left;
  width: auto;
}
.secondary-content-section-wrapper .secondary-content-section {
  background: transparent url(/images/insetbox-1-tprt.gif) no-repeat top right;
}
.secondary-content-section-wrapper .secondary-content-section-footer-wrapper {
  background: transparent url(/images/insetbox-1-btlf.gif) no-repeat bottom left;
  width: auto; height: 13px; padding: 0; margin: 0;
}
.secondary-content-section-wrapper .secondary-content-section-footer {
  background: transparent url(/images/insetbox-1-btrt.gif) no-repeat bottom right;
  width: auto; height: 13px; padding: 0; margin: 0;
}

/*
 * CONTENT WRAPPER FOR COMMENTS
 */
.comment-wrapper .comment-wrapper-header-wrapper {
        background: transparent url(/images/comment_tplf.gif) no-repeat top left;
}
.comment-wrapper .comment-wrapper-header {
        background: transparent url(/images/comment_tprt.gif) no-repeat top right;
}
.comment-wrapper .comment-wrapper-footer-wrapper {
        background: transparent url(/images/comment_btlf.gif) no-repeat bottom left;
}
.comment-wrapper .comment-wrapper-footer {
        background: transparent url(/images/comment_btrt.gif) no-repeat bottom right;
}
