<% if current_user_can_see_private_files_for?(item) -%>
	<p><%=t 'web_links.details.url' %> <%= link_to h(item.url), url_for(item.url) %></p>
<% else -%>
	<p><%=t 'web_links.details.url' %> ( <%=t 'web_links.details.not_available' %> )</p>
<% end -%>
