<% if !item.file_private? || ( permitted_to_view_private_items? && params[:private] == "true" ) -%>
	<p>url: <%= link_to h(item.url), item.url %></p>
<% else -%>
	<p>url: ( no public version of this link available )</p>
<% end -%>
