<h2>Editing web link</h2>

<% form_tag :action => 'update', :id => @web_link do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @web_link %> |
<%= link_to 'Cancel', :action => 'list' %>
