<% @title = 'Editing web link' -%>

<h2><%= h(@title) -%></h2>

<% form_tag :action => 'update', :id => @web_link do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to_cancel %>
