<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <!-- TODO: helper for content type? -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= h(@title) -%></title>
  <% if params[:controller] == 'topics' || params[:controller] == 'documents' && params[:action] == 'pick_topic_type' || params[:action] == 'edit' || params[:action] == 'new' -%>
        <% # Include TinyMCE before other JS to avoid problems -%>
        <%= javascript_include_tiny_mce_if_used %>
        <%= tiny_mce if using_tiny_mce? %>
  <!-- TODO: replace this javascript whereever it's called and get rid of this -->
  <!-- should be handled by a helper instead -->
  <script type="text/javascript">
        function convertWord(type, content) {
            switch (type) { // Gets executed before the built in logic performes it's cleanups
              case "before":
                   content = content.toLowerCase(); // Some dummy logic
                   break;
                   // Gets executed after the built in logic performes it's cleanups
              case "after":
                   content = content.toLowerCase(); // Some dummy logic
                   break;
            }
            return content;
        }
  </script>
  <% end -%>
  <%= stylesheet_link_tag 'kete', :media => 'screen' %>
  <!--[if IE 5]><%= stylesheet_link_tag 'kete-ie5', :media => 'screen' %><![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'kete-ie6', :media => 'screen' %><![endif]-->
  <%= stylesheet_link_tag 'kete-print', :media => 'print' %>
  <% # TODO: turn this on if we need js fx for kete -%>
    <%= javascript_include_tag :defaults %>
  <% if params[:controller] == 'zoom_dbs' || params[:controller] == 'extended_fields' -%>
        <%= active_scaffold_includes %>
  <% end -%>

  <% if !@rss_tag_auto.nil?  -%>
        <%= @rss_tag_auto %>
  <% end -%>
</head>
<body>
<div id="wrapper">
        <div id="banner">
                <!-- space for more universal top navigation elements -->
        </div>
        <div id="header">
                <div id="topnav">
                        <a href="/">Home</a> |
                        <%= link_to_unless_current "Browse", :controller => 'search',
                                                             :action => 'all',
                                                             :urlified_name => 'site',
                                                             :controller_name_for_zoom_class => 'topics',
                                                             :trailing_slash => true -%>
                        |
                        <%= link_to_unless_current "Search", :controller => 'search',
                                                             :action => :index -%>
                        |

                        <%= link_to_unless_current "Register", :controller => 'account',
                                                               :action => :signup,
                                                               :urlified_name => 'site' -%>
                        |
                        <% if !logged_in? %>
                           <%= link_to_unless_current "Login", :controller => 'account',
                                                               :action => :login,
                                                               :urlified_name => 'site' -%>
                         <!--  |
                           Logout -->
                        <% else %>
                           <% # TODO: currently a security risk -%>
                           Welcome <%= link_to_unless_current current_user.user_name, :controller => 'account',
                                                                                      :action => 'show',
                                                                                      :urlified_name => 'site' -%> |
                           <%= link_to_unless_current "Logout", :controller => 'account',
                                                                :action => :logout,
                                                                :urlified_name => 'site' -%>
                        <% end %>
                        |
                        <a href="/about/">About</a>
                        |
                        <%= link_to("Help", {:controller => 'index_page',
                                             :action => :help_file,
                                             :urlified_name => 'site' }, :popup => ['help', 'height=500,width=780,scrollbars=yes,top=100,left=100']) %>

                </div>
                <h1>
                        Kete Horowhenua
                </h1>
                <div id="description">
                        The stories of the district as told by its people
                </div>

                <% if flash[:notice] %>
                        <!-- TODO: look up if there is a style sheet class for flash, add here -->
                        <div id="notice"><%= flash[:notice] %></div>
                <% end %>

        </div><!-- /header -->
        <div id="container">

                        <%= @content_for_layout %>

        </div><!--  /container -->
        <div class="cleaner">&nbsp;</div>
        <div id="footer">
                <!--Footer-->
                <% if !@rss_tag_link.nil? -%>
                        <div id="linkToRSS"><%= @rss_tag_link -%>RSS</a></div>
                <% end -%>
                <% if logged_in? and @site_admin  %>
                   <!-- admin toolbox, temp -->
                   <div id="adminToolbox">
                        <h4>Administrator's Toolbox (prototype)</h4>
                        <p>Kete collections:
                        <% Basket.find(:all).each do |basket| %>
                           <% if basket == @current_basket && request.request_uri == "/#{@current_basket.urlified_name}/" %>
                              <%= h(basket.name) %>
                           <% else %>
                              <%= link_to(h(basket.name), :controller => 'search',
                                                          :urlified_name => basket.urlified_name) %>
                           <% end %>
                           |
                        <% end %>
                        <%= link_to_unless_current("add kete", :urlified_name => 'site',
                                                               :controller => 'baskets',
                                                               :action => :new) %>
                        </p>
                        <p>Controls:
                        <%= link_to_unless_current "topic types", :controller => '/topic_types',
                                                                  :action => :list,
                                                                  :urlified_name => 'site' -%>
                        |
                        <%= link_to_unless_current "content types", :controller => '/content_types',
                                                                  :action => :list,
                                                                  :urlified_name => 'site' -%>
                        |
                        <%= link_to_unless_current "extended fields", :controller => '/extended_fields',
                                                                        :action => :list,
                                                                        :urlified_name => 'site' -%>
                        |
                        <%= link_to_unless_current "site members", :controller => '/members',
                                                                        :action => :list,
                                                                        :urlified_name => 'site' -%>
                        <% if current_user.login == 'walter' -%>
                        |
                        <%= link_to_unless_current "importers", :controller => '/importers',
                                                                        :action => :index,
                                                                        :urlified_name => 'site' -%>
                        <% end -%>
                        |
                        <%= link_to_unless_current "Z39.50 search databases", :controller => '/zoom_dbs',
                                                                              :action => :list,
                                                                              :urlified_name => 'site' -%>
                        </p>
                   </div>
                <% end %>
        </div>
</div><!-- /wrapper -->

</body>
</html>
