<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%= I18n.locale -%>"<%= " dir=\"" + t('dir') + "\"" if t('dir') != 'ltr' -%>>
<head>
  <!-- TODO: helper for content type? -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <% cached_controllers = ['audio', 'documents', 'images', 'topics', 'video', 'web_links'] %>
  <% if params[:controller] == 'index_page' || (cached_controllers.include?(params[:controller]) && params[:action] == "show") %>
    <% cache_with_privacy(current_item, {:part => 'page_title'}) do %><title><%= title_with_context %></title><% end -%>
  <% else -%>
    <title><%= title_with_context %></title>
  <% end -%>

  <% unless current_item.nil? -%>
    <% cache_with_privacy(current_item, {:part => 'page_keywords'}) do -%>
      <meta name="keywords" content="<%= page_keywords -%>" />
    <% end -%>
    <% cache_with_privacy(current_item, {:part => 'page_description'}) do -%>
      <meta name="description" content="<%= page_description -%>" />
    <% end -%>
  <% else -%>
    <% cache({:part => 'page_keywords'}) do -%>
      <meta name="keywords" content="<%= page_keywords -%>" />
    <% end -%>
    <% cache({:part => 'page_description'}) do -%>
      <meta name="description" content="<%= page_description -%>" />
    <% end -%>
  <% end -%>

  <%# Don't support content translations yet, but when we do, uncomment this %>
  <%#= meta_tag :name => 'content-language', :content => I18n.locale %>

  <% if cached_controllers.include?(params[:controller]) && params[:action] == "show" %>
    <% cache_with_privacy(current_item, { :part => 'dc_metadata' }) do %>
      <%= dc_metadata_for(current_item) if current_item && !current_item.private? %>
    <% end %>
  <% end %>

  <%= opensearch_descriptions %>

  <%= open_search_metadata if params[:controller] == 'search' && %w{ all for }.include?(params[:action]) %>

  <%# this goes before other css and javascript incase we want to overwrite the definitions locally in themes %>
  <%= yield :add_on_scripts_and_links %>

  <% theme_name = "#{@theme}_theme" -%>
  <% theme_name = theme_name + '_' + t('dir') if t('dir') != 'ltr' -%>

  <%# Include TinyMCE before other JS to avoid problems
    # TinyMCE is not compatible with bundle_fu %>
  <%= include_tiny_mce_if_needed({
    :content_css => "/stylesheets/cache/#{@theme_name}.css",
    :extended_valid_elements => (@site_admin ? EXTENDED_VALID_ELEMENTS : '')
  }) %>

  <%= stylesheet_link_tag 'kete-print', :media => 'print' %>

  <% bundle :name => theme_name do -%>
    <%= stylesheet_link_tag 'base', :media => 'screen' %>
    <% if t('dir') != 'ltr' -%>
      <%= stylesheet_link_tag('base-' + t('dir'), :media => 'screen') -%>
    <% end -%>
    <%= stylesheet_link_tag 'comment', :media => 'screen' %>
    <%= stylesheet_link_tag 'redbox' %>
    <%= stylesheet_link_tag 'dan_webb_code_highlighter/styles' if !AVAILABLE_SYNTAX_HIGHLIGHTERS.empty? %>

    <%# James - 2008-11-19 %>
    <%# Include a custom stylesheet if a third column is enabled. %>
    <%= stylesheet_link_tag('left-hand-column') if show_basket_list_naviation_menu? %>

    <% load_styles(@theme).each do |stylesheet| -%>
      <%= stylesheet_link_tag stylesheet, :media => 'screen' %>
    <% end -%>
  <% end -%>

  <% if !ENABLE_USER_PORTRAITS && !ENABLE_GRAVATAR_SUPPORT %>
    <style type="text/css">
      .comment-outer-wrapper .stylish_user_contribution_link_extra,
      .comment-outer-wrapper .stylish_user_contribution_link_extra h3 {
        display: inline;
      }
      .comment-wrapper {
        margin-top: 0px;
      }
    </style>
  <% end -%>

  <%= stylesheet_link_tag('serif') if @theme_font_family == 'serif' %>
  <% if !@header_image.blank? -%>
    <% # allows for banner style background image -%>
    <style type="text/css">
      #header { background: url('<%= @header_image -%>') no-repeat top left !important; }
    </style>
  <% end -%>

  <% if LANGUAGE_CHOICES_POSITION == 'header' %>
    <style type="text/css">
      #header { padding-top: 3em; padding-bottom: 1em; }
    </style>
  <% end %>

  <% bundle :name => "rails_defaults" do -%>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'redbox' %>
    <% if !AVAILABLE_SYNTAX_HIGHLIGHTERS.blank? %>
      <%= javascript_include_tag 'dan_webb_code_highlighter/code_highlighter' %>
      <% AVAILABLE_SYNTAX_HIGHLIGHTERS.each do |syntax| %>
        <%= javascript_include_tag "dan_webb_code_highlighter/#{syntax}" %>
      <% end %>
    <% end %>
    <%= javascript_include_tag 'kete' -%>
  <% end -%>

  <% if initialize_gmap_headers? -%>
    <%= GMap.header %>
    <%= @map.to_html %>
  <% end -%>

  <% if ACTIVE_SCAFFOLD_CONTROLLERS.include?(params[:controller]) -%>
    <% bundle :name => "active_scaffold" do -%>
      <%= active_scaffold_includes %>
    <% end -%>
  <% end -%>

  <% if ['extended_fields', 'choices'].include?(params[:controller]) -%>
    <% bundle :name => "yui_js" do -%>
      <%= javascript_include_tag "yui/yahoo/yahoo", "yui/event/event-min", "yui/animation/animation-min", "yui/dom/dom-min", "yui/treeview/treeview-min" %>
    <% end %>
    <% bundle :name => "yui_css" do -%>
      <%= stylesheet_link_tag 'yui/treeview'%>
    <% end -%>
  <% end -%>

  <% if params[:controller] == 'index_page' || (cached_controllers.include?(params[:controller]) && params[:action] == "show") %>
    <% cache_with_privacy(current_item, {:part => 'google_map_api'}) do -%>
      <%= load_google_map_api if defined?(load_google_map_api) -%>
    <% end -%>
  <% else %>
    <%= load_google_map_api if defined?(load_google_map_api) -%>
  <% end -%>

  <% rss_tag_links = @rss_tag_link.blank? ? Array.new : @rss_tag_link.to_a
     rss_tag_autos = @rss_tag_auto.blank? ? Array.new : @rss_tag_auto.to_a
     combined_rss_url = basket_all_rss_url( :urlified_name => @site_basket.urlified_name,
                                            :controller_name_for_zoom_class => 'combined' )
  -%>
  <% rss_tag_autos.each do |rss_tag_auto| -%>
    <%= rss_tag_auto.sub("title=\"RSS\"", "title=\"RSS #{stripped_title}\"")  %>
  <% end -%>
  <link rel="alternate" type="application/rss+xml" title="<%= t 'layouts.application.combined_rss' -%>" href="<%= combined_rss_url -%>" />

  <!--[if IE]><%= stylesheet_link_tag 'kete-ie', :media => 'screen' %><![endif]-->

  <% unless @ie_stylesheet_paths.blank? -%>
    <% @ie_stylesheet_paths.each do |ie_version,css_paths| -%>
      <%= ie_version == :all ? "<!--[if IE]>" : "<!--[if IE #{ie_version}]>" %>
      <% css_paths.each do |stylesheet| -%>
        <%= stylesheet_link_tag stylesheet, :media => 'screen' %>
      <% end -%>
      <%= "<![endif]-->" %>
    <% end -%>
  <% end -%>
</head>
<body id="<%= @current_basket.urlified_name -%>">

  <div id="body-outer-wrapper">
    <div id="body-inner-wrapper">

      <% if IS_CONFIGURED -%>
        <div id="header-wrapper">
          <div id="header">
            <!-- this would be a good place for your logo -->
            <h1>
              <%= link_to PRETTY_SITE_NAME,
                          basket_index_url({ :urlified_name => @site_basket.urlified_name }),
                          :tabindex => '2' %>
              <%= header_link_to_current_basket %>
            </h1>
            <%= render 'account/locale_selection', :classes => ['header'] if LANGUAGE_CHOICES_POSITION == 'header' %>
            <div id="head-search-wrapper">
              <% form_tag ({ :urlified_name => @site_basket.urlified_name,
                             :controller => 'search',
                             :action => 'terms_to_page_url_redirect' }) do %>
                <div class="search_fields">
                  <div id="advanced_search_dropdown_trigger">
                    <noscript><%= image_tag 'magnifier.png', :width => 16, :height => 16 %></noscript>
                  </div>
                  <%= text_field_tag 'search_terms', nil, { :accesskey => '3', :tabindex => '2' } %>
                  <%= submit_tag t('layouts.application.search_button'), { :class => 'submit', :tabindex => '2' } %>
                </div>
                <%= render 'search/mini_controls', :id => 'advanced_search_dropdown', :type => 'menu' %>
                <%= add_search_icon_and_default_text_to_search_box('advanced_search_dropdown', 'advanced_search_dropdown_trigger') %>
                <%= javascript_tag("$('search_terms').observe('change', function(event) {
                  if (this.value == '') {
                    advanced_search_dropdown_reset_relevance(true);
                  } else {
                    advanced_search_dropdown_show_relevance(true);
                    $$('#advanced_search_dropdown #sort_type').first().down('.none').selected = true;
                    $$('#advanced_search_dropdown #sort_direction_field').first().hide();
                  }
                });") %>
              <% end %>
            </div><!-- /head-search-wrapper -->
            <%= header_links_to_baskets %>
          </div><!-- /header -->
        </div><!-- /header-wrapper -->

        <div id="top-menu">
          <ul class="user-nav nav-list">
            <%= ("<li class='locale_selection first'>" + render('account/locale_selection', :classes => ['menu_center']) + "</li>") if LANGUAGE_CHOICES_POSITION == 'top_menu_center' %>
            <% account_hash = { :urlified_name => @site_basket.urlified_name,
                                :controller => 'account' } -%>
            <% if !logged_in? -%>
              <li class="first"><%= link_to_unless_current t('layouts.application.register'),
                                                           account_hash.merge({ :action => 'signup' }),
                                                           :tabindex => '2' %></li>
              <li><%= link_to_unless_current t('layouts.application.login'),
                                             account_hash.merge({ :action => 'login' }),
                                             :tabindex => '2' %></li>
            <% else -%>
              <li id="user_baskets_list" class="first">
                <%= link_to_unless_current "#{current_user.user_name}",
                                           account_hash.merge({ :action => 'show' }),
                                           :tabindex => '2' %>
                <%= link_to "<em>V</em>",
                            account_hash.merge({ :action => 'baskets' }),
                            :tabindex => '2',
                            :title => t('layouts.application.my_baskets') %>
                <ul class="submenu" style="display:none;">
                  <%= users_baskets_list %>
                  <li style="padding-top:15px;">
                    <%= link_to t('layouts.application.all_baskets'),
                                { :urlified_name => @site_basket.urlified_name,
                                  :controller => 'baskets',
                                  :action => 'list' } %>
                  </li>
                </ul>
              </li>
              <li><%= link_to_unless_current t('layouts.application.logout'),
                                             account_hash.merge({ :action => 'logout' }),
                                             :tabindex => '2' %></li>
            <% end -%>
            <%= ("<li class='locale_selection'>" + render('account/locale_selection', :classes => ['menu_right']) + "</li>") if LANGUAGE_CHOICES_POSITION == 'top_menu_farthest_right' %>
          </ul>

          <ul id="main-nav" class="nav-list">
            <li id="header_home" class="first">
              <%= link_to t('layouts.application.home'),
                          basket_index_url({ :urlified_name => @site_basket.urlified_name }),
                          :tabindex => '2', :accesskey => '1' %>
            </li>
            <%= header_browse_links %>
            <li id="header_about">
              <%= link_to_unless_current h(@about_basket.name),
                                         basket_index_url(:urlified_name => @about_basket.urlified_name),
                                         :tabindex => '2' %>
            </li>
            <li id="header_help">
              <%= link_to_unless_current h(@help_basket.name),
                                         basket_index_url(:urlified_name => @help_basket.urlified_name),
                                         :tabindex => '2' %>
            </li>
            <%= content_tag('li', mail_to(CONTACT_EMAIL, t('layouts.application.contact'), :encode => "hex", :accesskey => '9', :tabindex => '2'), :id => 'header_contact') %>
            <%= header_add_links %>
            <% add_basket_link = header_add_basket_link -%>
            <%= content_tag('li', add_basket_link, :id => 'header_add_basket') unless add_basket_link.blank? %>
          </ul>
        </div><!-- /top-menu -->

        <div class="clear" style="height:1px;"><a name="content">&nbsp;</a></div>
        <div id="notice" <%= flash[:notice].blank? ? "style='display:none;'" : '' -%>><div><%=h flash[:notice] %></div></div>
        <div id="error" <%= flash[:error].blank? ? "style='display:none;'" : '' -%>><div><%=h flash[:error] %></div></div>

        <div id="container">
          <%= render(:partial => "topics/slideshow_controls") if show_slideshow_controls? -%>

          <%= render(:partial => "topics/content_wrapper_start",
                     :locals => { :style_classes =>"full-width notabs" }) if render_full_width_content_wrapper? %>

          <%= render(:partial => "licenses/install") if params[:controller] == 'licenses' && %w{ index list }.include?(params[:action]) %>

          <%= @content_for_layout %>

          <div style="clear:both;"></div>
        </div><!--  /container -->

	<%# we always have global RSS feed now, i.e. "combined"
          # (does not include members, tags, baskets, though)
	  # we may also have a combined version of @rss_tag_link
	  # if that would be different from global RSS feed -%>
	<div id="linkToRSS" class="footer_div">
	  <ul>
	    <% rss_tag_links.each do |rss_tag_link| -%>
	    <li><%= link_for_rss(:link_html => rss_tag_link,
	                         :preface => t('layouts.application.rss'),
	                         :title => stripped_title) -%></li>
	    <% end -%>
	    <li><%= link_to(t('layouts.application.combined_rss'),
	                    combined_rss_url,
  	                    :tabindex => '1') -%></li>
	  </ul>
	</div>

        <div id="footer" class="footer_div">
          <% if logged_in? && @basket_admin && !@displaying_error -%>
            <div id="basket-toolbox">
              <h4><%=t 'layouts.application.basket_label', :basket => h(@current_basket.name) %></h4>
              <p>
	      <%= link_to_unless_current t('layouts.application.preferences'),
	      { :controller => 'baskets',
	      :action => 'edit',
	      :id => @current_basket },
	      :tabindex => '2' %>
              |
	      <%= link_to_unless_current t('layouts.application.moderate'),
	      { :controller => 'moderate',
	      :action => 'list' },
	      :tabindex => '2' %>
              |
	      <%= link_to_unless_current t('layouts.application.members'),
	      { :controller => 'members',
	      :action => 'list' },
	      :tabindex => '2' %>
	      <% # when this is more refined, may open this up to non-tech-admins -%>
	      <% if @tech_admin -%>
	      |
	      <%= link_to_unless_current t('layouts.application.import'),
	      { :controller => 'importers',
	      :action => 'list' },
	      :tabindex => '2' %>
	      <% end -%>
	      <% if @current_basket != @site_basket -%>
	      |
	      <%= link_to_unless_current t('layouts.application.delete'),
	      { :controller => 'baskets',
	      :action => 'destroy',
	      :id => @current_basket, },
	      :confirm => t('layouts.application.delete_confirmation'),
	      :method => 'post',
	      :tabindex => '2' %>
	      <% end %>
              </p>
            </div>
          <% end %>

          <% if logged_in? && @site_admin && !@displaying_error %>
            <div id="adminToolbox">
              <h4><%=t 'layouts.application.toolbox_label' %></h4>
              <p>
                <%=t 'layouts.application.toolbox_controls' %>
                <%= link_to_unless_current t('layouts.application.basket_profiles'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'profiles',
                                             :action => 'list' },
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.topic_types'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'topic_types',
                                             :action => 'list' },
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.content_types'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'content_types',
                                             :action => 'list' },
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.extended_fields'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'extended_fields',
                                             :action => 'list' },
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.choices'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'choices',
                                             :action => 'list'},
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.search_sources'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'search_sources',
                                             :action => 'list'},
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.site_members'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'members',
                                             :action => 'list' },
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.licenses'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'licenses',
                                             :action => 'index' },
                                           :tabindex => '2' %>
                |
                <%= link_to_unless_current t('layouts.application.add_link'),
                                           { :urlified_name => @site_basket.urlified_name,
                                             :controller => 'configure',
                                             :action => 'add_link_to_kete_net' },
                                           :tabindex => '2' %>
                <% if @tech_admin -%>
                  |
                  <%= link_to_unless_current t('layouts.application.configure'),
                                             { :urlified_name => @site_basket.urlified_name,
                                               :controller => 'configure',
                                               :action => 'index' },
                                             :tabindex => '2' %>
                  |
                  <%= link_to_unless_current t('layouts.application.oai_pmh'),
                                             { :urlified_name => @site_basket.urlified_name,
                                               :controller => 'oai_pmh_repository_sets',
                                               :action => 'index' },
                                             :tabindex => '2' %>
                  |
                  <%= link_to_unless_current t('layouts.application.zoom_dbs'),
                                             { :urlified_name => @site_basket.urlified_name,
                                               :controller => 'zoom_dbs',
                                               :action => 'list' },
                                             :tabindex => '2' %>
                  |
                  <%= link_to_unless_current t('layouts.application.rebuild'),
                                             { :urlified_name => @site_basket.urlified_name,
                                               :controller => 'search',
                                               :action => 'setup_rebuild' },
                                             :tabindex => '2' %>
                <% end -%>
              </p>
              <p>
                <%=t 'layouts.application.support' %>
                <%= link_to_unless_current t('layouts.application.documentation'),
                                           basket_index_url(:urlified_name => @documentation_basket.urlified_name),
                                           :tabindex => '2' %>
              </p>
            </div>
          <% end -%>

          <div style="clear:both;"></div>
        </div>

        <div id="footer_custom" class="footer_div">
          <% unless @current_basket.additional_footer_content_with_inheritance.nil? ||
                    @current_basket.additional_footer_content_with_inheritance.squish.blank? -%>
            <%= @current_basket.additional_footer_content_with_inheritance -%>
          <% end -%>
          <div style="clear:both;"></div>
        </div>

        <div id="footer_links" class="footer_div">
          <% unless @current_basket.replace_existing_footer_with_inheritance? -%>
            <ul>
              <% unless GOVERNMENT_WEBSITE.blank? -%>
                <li><%= link_to GOVERNMENT_WEBSITE.first, GOVERNMENT_WEBSITE.last, :accesskey => '/', :tabindex => '2' -%></li>
              <% end -%>
              <% cache({:part => 'accessibility'}) do -%>
                <% accessibility_topic = @help_basket.topics.find_by_title('Accessibility') -%>
                <%= content_tag('li', link_to(t('layouts.application.accessibility'),
                                              { :urlified_name => @help_basket.urlified_name,
                                                :controller => 'topics',
                                                :action => 'show',
                                                :id => accessibility_topic },
                                              { :accesskey => '0',
                                                :tabindex => '2' })) if accessibility_topic -%>
              <% end -%>
              <li>
                <%= link_to t('layouts.application.sitemap'),
                            { :urlified_name => @site_basket.urlified_name,
                              :controller => 'baskets',
                              :action => 'list' },
                            { :accesskey => '2',
                              :tabindex => '2' } -%>
              </li>
              <li class="last"><%= link_to t('layouts.application.to_content'), '#content', :accesskey => '[', :tabindex => '2' -%></li>
            </ul>
            <%= render 'index_page/credits' %>
          <% end -%>
          <div style="clear:both;"></div>
        </div>

        <%= render 'account/locale_selection', :classes => ['footer'] if LANGUAGE_CHOICES_POSITION == 'footer' %>

      <% else -%>

        <div id="header-wrapper">
          <div id="header">
            <h1><%= PRETTY_SITE_NAME -%></h1>
          </div><!-- /header -->
        </div><!-- /header-wrapper -->

        <div class="clear">&nbsp;</div>
        <div id="notice" <%= flash[:notice].blank? ? "style='display:none;'" : '' -%>><div><%= flash[:notice] -%></div></div>

        <div id="container">
          <%= render(:partial => "topics/content_wrapper_start", :locals => { :style_classes => "full-width notabs" }) -%>
            <%= @content_for_layout -%>
          <%= render(:partial => "topics/content_wrapper_end") -%>
        </div><!--  /container -->

      <% end -%>

    </div> <!-- /body-outer-wrapper -->
  </div> <!-- /body-inner-wrapper -->

</body>
</html>
