<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <!-- TODO: helper for content type? -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= h(@title) -%></title>

  <%# Include TinyMCE before other JS to avoid problems
    # TinyMCE is not compatible with bundle_fu %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <%= javascript_tag('jQuery.noConflict();') -%>

  <%= include_tiny_mce_if_needed({
    :content_css => "/stylesheets/cache/#{@theme}_theme.css",
    :extended_valid_elements => (@site_admin ? EXTENDED_VALID_ELEMENTS : '')
  }) %>

  <%= stylesheet_link_tag 'base', :media => 'screen' %>
  <%= stylesheet_link_tag 'comment', :media => 'screen' %>
    <%= stylesheet_link_tag 'redbox' %>
    <% load_styles(@theme).each do |stylesheet| -%>
      <%= stylesheet_link_tag stylesheet, :media => 'screen' if stylesheet == 'simple' %>
        <% end -%>

  <%= stylesheet_link_tag 'kete-print', :media => 'print' %>

  <% if !@rss_tag_auto.nil?  -%>
        <%= @rss_tag_auto %>
  <% end -%>
  <!--[if IE]><%= stylesheet_link_tag 'kete-ie', :media => 'screen' %><![endif]-->

    <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'redbox' %>

  <% if SystemSetting.enable_maps? && initialize_gmap_headers? -%>
    <%= yield :gmap4rails_head %>
    <% if params[:action] == 'choose_type' -%>
      <%= load_maps_javascript_files -%>
    <% else -%>
      <%= yield :gmap4rails_scripts %>
      <%= javascript_tag("window.onload = Gmaps.loadMaps;") -%>
    <% end -%>

    <%# useful when loading functions in ajax request later -%>
    <%= javascript_tag("keteMaps = new Object();") -%>
  <% end -%>

</head>
<body>
<div id="body-outer-wrapper">
  <div id="body-inner-wrapper">

  <div id="wrapper" class="simple" style="margin-top: 1em">
          <div class="cleaner">&nbsp;</div>
                <% if flash[:notice] %>
                        <!-- TODO: look up if there is a style sheet class for flash, add here -->
                        <div id="notice"><div><%= flash[:notice] %></div></div>
                <% end %>

        <div id="container">
          <%= @content_for_layout %>
        </div><!--  /container -->
        <div class="cleaner">&nbsp;</div>

</div><!-- /wrapper -->
</div>

</body>
</html>
