        <% if !site_admin_actions.blank? -%>
                <td>
                <ul>
                <% tool_count = 1 -%>
                <% site_admin_actions.each do |action_key,action_label| -%>
                        <%= site_admin_actions_correct_list_item(user, action_key, action_label, tool_count) %>
                        <% tool_count += 1 -%>
                <% end -%>
                </ul>
                </td>
        <% end -%>